[2014-12-17 14:20] electrical opened #1 "Fix link in documentation"
Currently there is a link to  https://github.com/logstash/logstash/tree/v2.0.0.dev/lib/logstash/codecs/netflow/netflow.yaml
this needs to be changed to the new repo.

[2015-02-27 10:09] lolostates opened #4 "All data exported as string"
Hello,

I'm trying to export my netflow packets into ES with your plugin.
Following configuration has been set:
[code]

I have also sent a template throught ES API:

[code]

But all data imported in ES has been imported as string (even fields like in_bytes).
Do you have any ideas ?

More information: i use default yaml file.

Thanks in advance.

[2015-02-27 10:57] electrical commented on #4
Hi,

Did you set the template before you started indexing data?
the index template only gets applied on creation of an index.

[2015-02-27 11:06] lolostates commented on #4
Hi,

Index was created before template insertion. A new index is created each days, so template will be used tomorrow ?

Or previous index can be deleted and re-created to use template today ?

[2015-02-27 11:07] electrical commented on #4
You can indeed wait for tomorrow or delete the current index which then should be recreated using the template.

[2015-02-27 13:16] lolostates commented on #4
I have deleted index involved in netflow storage and it's works.

Thanks.

[2015-02-27 13:16] #4 closed

[2015-04-12 01:54] msheiny opened #6 "Template length doesnt fit cleanly into flowset"
I haven't really dug into this but on our Cisco I saw issues with the following lines and ended up commenting them out:

After I commented it out, I've been getting netflow collection without issue. Can anyone illuminate a setting I can look at to work-around this without commenting? Perhaps we can provide a new flag to the codec option that allows us to simply skip this check?

Thanks in advance

[2015-04-17 15:00] wrigby commented on #6
@msheiny Do you happen to have the output of the log messages from when this happened? I'm curious to see which check failed - was it that the template length was longer than the flowset length, or that there were too many padding bytes?

I've spent a bit of time in the netflow codec code recently, and I'd be happy to dig deeper into this and possibly generate a PR for the elastic team.

Packet ca

[2015-04-20 13:30] BMWfan commented on #6
Hello together,

i have talked with msheiny about that problem.

I have the same problem.

Here you can see a Screenshot:
![logstash log](https://cloud.githubusercontent.com/assets/5577540/7230906/01f11a30-e772-11e4-86db-93869f86dfff.png)

Best Regards

Daniel

[2015-04-22 14:42] wrigby commented on #6
Weird. I'd love to see a packet capture and your flow export configuration. I just read through a bunch of the source last night, and didn't see anything that jumps out at me.

[2015-04-26 14:56] msheiny commented on #6
@wrigby  - sorry for the delay in getting back to you. I'll try to get you some packet dumps this week. Thanks for following up so quickly.

[2015-04-26 18:12] wrigby commented on #6
@msheiny no problem! Full disclosure - I'm not a maintainer, just a guy that spent a lot of time in this code recently.

I've played around with tcpreplay a bit for testing this, so it should be pretty trivial to replay your data back into Logstash.

[2015-05-05 19:21] wrigby opened #9 "Key used to store Netflow v9 templates is not guaranteed to be unique per-template"
This is a bit of an obscure one, and I don't know that it's actually causing anyone problems in production. I think it's very minor, but wanted to get it recorded somewhere and start a discussion in case it needs changing.

When NetFlow v9 template records come in, they're stored in a hash, with the key being a concatenation of the NetFlow Source ID field and the Template ID. (see https://github.c

[2015-05-12 11:00] bodgit commented on #9
I'm fairly sure I did that when I initially wrote this filter^Wcodec.

I think it's fairly easy to get a collision by just having two or more bits of identical hardware as they will probably use the same source ID. Also from my experience devices tend to start with a template ID of 256 and count up.

However, if they're identical hardware chances are the templates will be identical also so you'll

[2015-05-12 17:20] wrigby commented on #9
@bodgit that's what I've seen in practice - all of our devices are exporting the same templates anyway, so it's a non-issue right now for my deployment. It's something I noticed when hacking on support for MPLS labels (#5), so I figured I would record it here for future reference in case it does end up biting someone.

I think it may prompt some discussion about the right way for an input to pass

[2015-05-13 09:45] bodgit commented on #9
Of course, when this was originally a filter it had access to the original event. That explains things.

[2015-05-13 15:01] wrigby commented on #9
Ah, it makes much more sense now. I had a suspicion that was the case, given the comments that are in there. Thanks for the clarification!

[2015-05-14 07:42] bodgit commented on #6
Given that the log message is claiming the template is bigger than the record rather than faulty padding, this is either a grievous parsing bug somewhere or I wonder if it's #9 rearing it's head?

Do you have >1 device sending Netflow at Logstash?

[2015-05-17 23:11] jordansissel opened #11 "Netflow Codec doesnt support v9 out_bytes"
(This issue was originally filed by @mikedevita at https://github.com/elastic/logstash/issues/1789)

---

Noticed that the netflow codec isn't parsing a lot of fields..

This is all it processes...

[code]

[2015-05-17 23:24] jordansissel opened #12 "Netflow Codec cannot handle V9 Template record"
(This issue was originally filed by @haybeseret at https://github.com/elastic/logstash/issues/2002)

---

Hi,
I am using logstash netflow codec.
While generating only 1 flowset in a packet (i.e data flow set) everything work as expected.
When i am generating 2 flowsets in a packet Data+ template as per rfc3954, it seem that the logstash coded cannot handle the template flowset
image below show the

[2015-05-18 05:18] jordansissel opened #13 "netflow codec and "Cannot find Serializer for class" issue"
(This issue was originally filed by @tomarch at https://github.com/elastic/logstash/issues/2667)

---

i use lastest logstash 1.5.0 beta1 and elasticsearch 1.4.4
I have an issue when using netflow codec

here's my logstash config :  https://gist.github.com/tomarch/d824d5781a725cf68a10

I've got an error when i use elasticsearch or file output: Got error to send bulk of actions to elasticsearch ser

[2015-05-18 06:16] jordansissel opened #14 "netflow codec support for IPFIX"
(This issue was originally filed by @gonrada at https://github.com/elastic/logstash/issues/3143)

---

I was wondering if the current netflow codec would/could support decoding IPFIX flow rather than netflow v5/9.
Unless I am mistaken, wouldn't it be as simple as updating [/lib/logstash/codecs/netflow/netflow.yaml](https://github.com/elastic/logstash/blob/v1.4.2/lib/logstash/codecs/netflow/netflow

[2015-05-18 09:16] bodgit commented on #11
I don't think this is a bug, the exporting process simply isn't sending any other fields. If more fields were sent then they would be displayed, unless the field type/format was unknown to the codec in which case you'd get nothing at all.

[2015-05-18 09:17] bodgit commented on #12
It's not the number of flowsets, your data template includes a field that Logstash doesn't understand.

Template ID 256 contains a field of type 225 which Logstash doesn't know about (the first error) so it can't build a parser for any subsequent Data flowset using that template ID (the second error).

You need to either define that field type with a suitable data type and field name:
[code]
Or ma

[2015-05-18 09:19] bodgit commented on #13
I think this might have been fixed by #8.

[2015-05-18 09:20] bodgit commented on #14
See #10.

[2015-05-26 16:08] gonrada commented on #14
Not sure if this ticket is necessary since [#10](https://github.com/logstash-plugins/logstash-codec-netflow/pull/10) is open. Should closed as a dup?

[2015-07-06 18:34] missnebun commented on #12
Hi Guys,

I have the same problem .... not sure what is going on ... Was working until I restart logstash now I  see lots of
{:timestamp=>"2015-07-06T14:26:42.686000-0400", :message=>"No matching template for flow id 256", :level=>:warn}
Messages and no data .... I do not see any other error or warning. I reinstall netflow codec ... still same problem.

[2015-07-06 19:48] wrigby commented on #12
@missnebun How often are your flow exporters (routers) configured to send out template records? When Logstash starts, it will have to wait for a template record before it can parse the flowset records. If those messages are lasting more than a minute or so, then we have a real problem.

[2015-07-06 20:03] missnebun commented on #12
wrigby Thank you. I figure that out at some point. I check the netflow traffic with tshark -ni bond0 -R udp.port==9995 -d udp.port==9995,cflow -V and I was getting the template records every hour. I ask the network group to change that. Now looks like is working fine.

Regards,
Gabriel

[2015-08-18 09:59] jorritfolmer commented on #6
I've encountered this too lately:

1. Netflow v9 flowsets from an options template (flowset_id == 1)
    The warning message is:  `Template length doesn't fit cleanly into flowset {:template_id=>259, :template_length=>8, :record_length=>12, :level=>:warn}`

    The template_length is correctly calculated, but the record length calculation doesn't take into account the extra "option scope" field th

[2015-08-18 10:41] bodgit commented on #6
I wonder if I've inadvertently passed back a reference to the original netflow field definition rather than creating a fresh copy when parsing/building the templates?

Also, is there any overlap in the template ID's between softflowd and nprobe? If so I think you'll get a last-man-wins scenario if both also use the same source ID, (commonly it's just set to 0 on a lot of collectors).

Originally w

[2015-08-18 11:32] jorritfolmer commented on #6
As far as the source_id and template_id are concerned there is no overlap. According to wireshark:

| field | softflowd | nprobe |
|------|------|-----|
| SourceId | 0 | 157 |
| Flowset Id | 1024 | 257 |

[2015-08-18 12:13] bodgit commented on #6
On this line:

https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/lib/logstash/codecs/netflow.rb#L236

If you make the line (basically the `.clone`):

[code]

Does that fix the conflicting length problem?

[2015-08-18 12:21] jorritfolmer commented on #6
Yes! That seems to fix it!

Before:

| decode_netflow9() stage |  nprobe input_snmp field | softflowd input_snmp field |
|--------------------|------------------|-------|
| "when 0" |  2 bytes  | 4 bytes |
| "when 256..65535 |  2 bytes | 2 bytes (mismatch)|

After:

| decode_netflow9() stage |  nprobe input_snmp field | softflowd input_snmp field |
|--------------------|------------------|-------|

[2015-08-18 12:26] jorritfolmer commented on #6
Ah you mean your PR that is still open since May...
I'll do some testing on it. Nprobe also supports IPFIX.

[2015-08-18 12:29] bodgit commented on #6
I don't think I've made the same fix to the Netflow path in the code so I'll whip up a one line PR for that.

[2015-08-20 01:18] pwarren opened #17 "Softflowd problems"
I've set up softflowd on my OpenWRT router, exporting flows to my logstash instance. Logstash works fine when using v5 exports,

I'm using logstash 1.5.3, and elasticsearch 1.4.4 with kibana 4.

With the input config of:
[code]
I get netflow type entries in logstash, and can do stuff with Kibana.

But changing my exporter to send netflow v9 packets it starts doing:
[code]

And every now and again:

[2015-08-21 12:51] bodgit commented on #6
@jorritfolmer For your first observation, I think I see the problem.

Basically when I build any template based on an options template I seem to be currently ignoring any scope fields in the template and only looking at the option fields. This explains why for your example the record length is 12 but the template length is only 8, there should be another 4 bytes read by the template at the beginni

[2015-08-21 13:34] bodgit commented on #6
@jorritfolmer I've made some quick additional changes based on the clone feature branch to add some basic scope field parsing here:

https://github.com/bodgit/logstash-codec-netflow/tree/scope

You should get an addition `scope_foo` field added with an unsigned integer value in your option flowsets. Could you see if that fixes the problem with the option templates?

[2015-08-21 14:20] romale commented on #6
@bodgit i've applied your suggestions: this https://github.com/logstash-plugins/logstash-codec-netflow/issues/6#issuecomment-132188679 and this https://github.com/logstash-plugins/logstash-codec-netflow/issues/6#issuecomment-133426176 , but no result. After code changing, i don't see error messages in logstash.log, but there is no netflow data in elastic from softflowd

[2015-08-21 14:21] romale commented on #6
p.s. from cisco router i've netflow data in this instance

[2015-08-22 11:07] jorritfolmer commented on #6
@bodgit Yes that look good! Using nprobe with v9 netflow, the JSON output from Logstash looks something like this:

[code]

Regarding the scope_foo fieldname: I think it would be better to rename the `scope_foo` field to `scope_type: foo`. Since the unsigned int already represents the scope type, there is probably no need to duplicate it in the fieldname. It also makes for easier grouping on this

[2015-08-22 12:23] jorritfolmer commented on #17
What version softflowd are you running on OpenWRT?
If it is something like 0.9.8, then likely you run into [this](https://bugzilla.mindrot.org/show_bug.cgi?id=1958) bug in softflowd where it includes an incorrect flowset "count". Since Logstash relies on this count to parse the incoming packet, it may cause the exception you've seen when actual number of flowsets and declared flowsets differ.

[2015-08-22 12:47] jorritfolmer commented on #9
What have been the reasons to change this plugin from filter to codec? I couldn't find any through Google.

Not having the source IP information available makes this codec ignore a "should" or "recommended" statement in the RFC. Currently, if you're unlucky enough to find yourself in a heterogeneous netflow environment, you cannot simple erect one Logstash instance, you're forced to create multipl

[2015-08-22 12:48] pwarren commented on #17
it appears to be 0.9.9, fprobe is also available, i'll try that too.

[2015-08-22 13:07] pwarren commented on #17
ergh, doesn't do Netflow V9, works fine with V5 though, just no IPv6. Probably should upgrade to a 'real' router eh? :)

[2015-08-22 15:09] wrigby commented on #9
I think it makes sense for it to be a codec, by the idealized definition of a codec and a filter (a codec being the component that deals with serializing/deserializing data to/from a wire protocol), but it unfortunately gets us into this ambiguous template key situation.

From my naive point of view, I think the best solution may be to provide a mechanism in the logstash core for inputs to provide

[2015-08-23 19:02] jorritfolmer commented on #9
Ah yes ok that makes sense, thanks for your explanation.
Perhaps it is time to open an issue for this in the main logstash repository?

[2015-08-23 19:37] jorritfolmer commented on #9
For easy reference: current issues (both open/closed) already in logstash repo that touch on codecs and/or metadata:

elastic/logstash#3725: Split Codecs into Encoders and Decoders
elastic/logstash#3694: Use of `@metadata` in 2.0
elastic/logstash#3607: Codecs should support 'target' option
elastic/logstash#3218: `@metadata` not shown in rubydebug

[2015-08-24 09:49] bodgit commented on #6
This is the (brief) documentation I based that change on:

This field gives the relevant portion of the NetFlow process to which the options record refers. Currently defined values follow:
• 0x0001 System
• 0x0002 Interface
• 0x0003 Line Card
• 0x0004 NetFlow Cache
• 0x0005 Template
For example, sampled NetFlow can be implemented on a per-interface basis, so if the options record was reporting on

[2015-08-24 13:29] bodgit commented on #17
@pwarren can you try the fork of the codec here:

https://github.com/bodgit/logstash-codec-netflow/tree/scope

I can see from your example tshark output that you have an options template including a scope field so the current version of the plugin will incorrectly parse the template in flowset 3 then mis-parse the record in flowset 4 and then it's screwed for the rest of that packet. Unfortunately

[2015-08-25 01:23] pwarren commented on #17
@bodgit, I think I've got the plugin installed correctly and done some debugging:

Here's another t-shark capture:
[code]

which produces:
[code]

Before and after that, I still get:
No matching template for flow id 1024 {:level=>:warn}
No matching template for flow id 2048 {:level=>:warn}
errors.

tshark capture producing the "No matching template" warning:
[code]

It seems after a few of the abo

[2015-08-25 09:39] bodgit commented on #17
You will get `No matching template for flow id x {:level=>:warn}` until it successfully parses those templates, that's just how Netflow v9 works.

However, if I'm reading the backtrace correctly, it's exploding on reading the header and template records which are fairly well tested and defined. The packet that triggers it only contains two templates which is something that should (and does) work f

[2015-08-25 11:20] pwarren commented on #17
with patch applied:
[code]

and

[code]

certainly a bit more info!

[2015-08-25 11:22] pwarren commented on #17
and here's the packet that caused the second of the above:

[code]

[2015-08-25 12:46] bodgit commented on #17
So from the BinData trace it looks like the codec happily parses the three templates in the packet which matches what tshark shows, however the problem seems to be that the codec thinks there's still more data to read in the packet, (it loops through the packet reading flowsets and records until EOF), and basically starts trying to read a fourth flowset and record (which from the tshark output I p

[2015-08-25 18:32] jorritfolmer commented on #6
Yes please ignore my previous post, I see what you mean, thanks for clarifying.

[2015-08-25 19:40] jorritfolmer commented on #17
Another size mismatch in [this tshark](https://github.com/logstash-plugins/logstash-codec-netflow/issues/17#issuecomment-134436952).
UDP header says 300 bytes (header + data) which leaves 292 for Netflow data. However there are only 2 flowsets of 60 bytes each. These happen to be templates also.

[2015-08-26 00:01] pwarren commented on #17
I have put a tcpdump capture of some softflowd packet up at http://pwarren.id.au/misc/softflowd_v9.pcap

The two template packets caused the same bindata issue. Happy to take this to softflowd if that's where the issue lies, thanks all for your help!

[2015-08-26 07:22] jorritfolmer commented on #17
Thanks for the pcap, I've found a way to reproduce the error by replaying your capture to my local logstash. Perhaps the codec could also do some input validation and discard malformed input?
If so, this should make testing somewhat easier.

* download and compile bittwist-linux-2.0
* modify destination mac, destination ip and destination port in the capture file to point to own instance:

[code]

[2015-08-26 08:48] bodgit commented on #17
The only way I can see to catch malformed input (i.e. junk at the end of the packet) is to use the previously mentioned `flow_records` value in the header to try and keep a running total of the number of records processed and stop when it's reached, however I can't rely on that as there's also the bug in softflowd that you linked where it doesn't calculate that value properly; it would mean the co

[2015-08-26 10:04] jorritfolmer commented on #17
I assume it would be possible to catch reading negative length records, or length < minimal netflow packet size. And skipping + @warn when template id not 0 1 or 1024-65k?

[2015-08-26 15:11] jorritfolmer commented on #17
It seems the following additions catch the malformed input through an assertion failure.
However, I'm not a Rubyist, so I don't know how to handle it.

[code]

[2015-08-26 15:52] bodgit commented on #17
I think you can add the `:assert` to any field so it can just be written like this:

[code]

However with this I'm guessing that ends up discarding the whole of the invalid packet rather than returning as much data as possible.

[2015-08-26 16:35] jorritfolmer commented on #17
Yes probably, and I'd like to test it, if we can rescue the assertion failures.
But I would prefer discarding invalid packets over a crashed Logstash instance :smiley:
By accident, we have a published, working, proof of concept to perform a denial of service attack on a Logstash netflow collector. According to the [NVD vulnerability calulator](https://nvd.nist.gov/CVSS-v2-Calculator) this has an o

[2015-08-26 18:22] jorritfolmer commented on #17
I think I've figured out the rescue part of the assertion failures:

[code]

[2015-08-26 18:23] jorritfolmer commented on #17
When replaying the invalid pcap from Paul it doesn't crash, and outputs warnings:

[code]

[2015-08-26 23:54] pwarren commented on #17
So, the root cause is softflowd emitting invalid packets? Wireshark appears able to decode the packet, but there is trailing data after the last decoded template.

I'll have a crack at building the latest softflowd code for my router, see how it goes!

[2015-08-27 08:27] bodgit commented on #17
I've been playing with softflowd and tshark and I'm using the following:

[code]

So in theory it should print out any frame number where the sum of the Netflow header and flowset sizes does not equal the UDP payload size. However so far in running softflowd, I've not seen any malformed packets. I'm running softflowd 0.9.9 I think or whatever is in the head of the mercurial master on google code.

[2015-08-27 09:06] bodgit commented on #17
I've pushed the validation changes to the same branch here:

https://github.com/bodgit/logstash-codec-netflow/tree/scope

[2015-08-27 12:08] pwarren commented on #17
@bodgit my tshark doesn't have the -Q option, and running it with -q instead doesn't produce anything after a good hour, however, I kept just the tshark bit running for a while, C+P into a spreadsheet, and get it to do the calculations, it does seem to have mismatches every now and again. Most of them match, but sometimes packets containing templates don't!

[code]

[2015-08-27 12:09] pwarren commented on #17
haven't had any luck compiling up the latest code for my openwrt router. Think I'll give up on this soon and go back to snmp interface stats :)

[2015-08-27 12:30] bodgit commented on #17
I only added the `-Q` to stop it printing the "Capturing on 'foo'" message, I suspect `-q` works too.

That's where I was heading with this; trying to find the pattern when there's a malformed packet, if it only happens when templates are sent. To make this easier to narrow down you can also include the `cflow.flowset_id` field in the tshark output. Then basically anytime there's a mismatch look f

[2015-08-27 13:35] bodgit commented on #17
Thinking about it, I can just replay your pcap file, doh!

[2015-08-27 13:55] bodgit commented on #17
In the small pcap file, there are only five frames however the only frames that are malformed are the first and last which consist entirely of templates:

[code]

I'm showing the frame number, UDP length, flowset length(s), flowset ID(s) and template ID(s). So for frame 1 containing two templates there's 152 extra bytes of data, but with frame 5 that only contains one template, there's 168 extra b

[2015-08-28 00:36] pwarren commented on #17
Ok, I've got an hour's worth of softflow pcaps at: http://pwarren.id.au/misc/softflowd_1h.pcap which has 6 malformed packets.

I'm making progress with the build of the latest code, it helps to build OpenWRT for the correct versions!

[2015-08-28 03:24] pwarren commented on #17
well, I got the latest softflowd code compiled, and it still has the same errors on V9 template exports in logstash-codec-netflow.  However, it also has the option of doing IPFIX exports, so got it to do that, and with @bodgit's ipfix branch, it all works nicely!

Next to figure out how to get the graphs I want (bytes by destination IP)!

[2015-08-28 12:59] bodgit commented on #17
When you compiled softflowd, were there any particular flags you passed to `./configure`? Or does the OpenWRT build add any additional patches?

I'm struggling to see an obvious pattern apart from it does only seem to happen whenever the templates are refreshed. If there's a 0 flowset, then the packet has extra data.

[2015-08-29 12:25] jorritfolmer opened #18 "Denial of service by sending invalid netflow packets to logstash-codec-netflow"
Based on issue #17, I've been fuzzing the netflow codec with `ProxyFuzz.py` and a Netflow stream to see if crashes on other invalid input as well. `ProxyFuzz.py` does random bitflipping, adding data etc.
So far I've found it crashes like this:

[code]

on this input:
[code]

[2015-08-29 12:31] jorritfolmer commented on #18
To reproduce this issue, it is proably easiest to use this .pcap file.
Use this to create the `packet_IOError_1_1pkt.pcap` so you can replay it,

[code]

[2015-08-30 08:02] jorritfolmer commented on #6
I've been doing some more testing, and get a:

[code]

on an initial clean run of nprobe (-V9) with this being the offending packet:

[code]

The .pcap for replay or wireshark:

[code]

[2015-08-30 10:52] jorritfolmer commented on #18
Adding IOError to the `rescue`, like this:

[code]

seems to help.
Instead of crashing it prints warnings for all the invalid packets and continues:

[code]

However, then this happens:

[code]

So perhaps rescue is not enough? Any ideas?

[2015-08-30 11:28] jorritfolmer commented on #18
The stream of netflow v5 packets that leads to the `java.lang.UnsupportedOperationException` is available here: http://filebin.ca/2DuuXqxcXNMW/fuzz_UnsupportedOperationException.pcap

[2015-08-30 18:17] bodgit commented on #6
The only line that could be is:

[code]

For `@netflow_fields` to be `nil` something weird must've happened as it should contain at least the default definitions.

[2015-08-30 18:56] jorritfolmer commented on #6
Apologies! That weirdness is me manually mismerging the conflicts between clone and ipfix when merging locally. Sigh...

[2015-09-01 01:48] pwarren commented on #17
No additional patches, does an autoreconf, and as far as I can see, the only options it passes are for getting the cross compile done.  see: https://github.com/openwrt/packages/blob/master/net/softflowd/Makefile

[2015-09-01 07:29] sunpeak opened #19 "wrong number of arguments calling `to_s` (1 for 0)"
"exception"=>#<ArgumentError: wrong number of arguments calling `to_s` (1 for 0)>,
"backtrace"=>["/home/logstash/logstash/lib/logstash/codecs/netflow/util.rb:50:in `get'",
 "/home/logstash/logstash/vendor/bundle/jruby/1.9/gems/bindata-2.0.0/lib/bindata/array.rb:227:in `each'",
  "org/jruby/RubyArray.java:1613:in `each'",
  "/home/logstash/logstash/vendor/bundle/jruby/1.9/gems/bindata-2.0.0/lib/bin

[2015-09-04 09:31] jsvd commented on #1
This now points to https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/lib/logstash/codecs/netflow.rb#L33

[2015-09-04 09:31] #1 closed

[2015-09-04 09:53] bodgit commented on #18
If you add something like this to the rescue block:

[code]

Does it make the exceptions go away? I wonder if codecs currently require you to always yield an event from some input, the few codecs I've checked do this

[2015-09-04 18:05] jorritfolmer commented on #18
No, unfortunately still exceptions:

[code]

[2015-09-05 11:31] jorritfolmer commented on #19
Line 50 of util.rb handles mac addresses, so it appears your netflow probes include mac addresses in their export. Could you provide a sample of this netflow traffic with something like tcpdump or wireshark, so I can try to replay it?

[2015-09-05 16:05] jorritfolmer commented on #18
This appears to be the offending packet from the provided pcap earlier:

[code]

[2015-09-09 12:40] alexchay commented on #19
This is a known bug. Here's how you can fix it.
repeatedly/fluent-plugin-netflow@dfcd4f40e6bd57c1d08ddc6eae707fcdc52163f6

[2015-09-09 18:13] jorritfolmer commented on #19
Nice! Thanks for the pointer!
I've been able to reproduce (and confirm the fix of) the original issue with:

[code]

[2015-09-14 12:50] jstopinsek opened #20 "Cisco ASA NF_F_INGRESS_ACL_ID and NF_F_EGRESS_ACL_ID field support"
Please consider to support two Cisco ASA NetFlow fields NF_F_INGRESS_ACL_ID (33000) and NF_F_EGRESS_ACL_ID (33001) which are described in this document:

http://www.cisco.com/c/en/us/td/docs/security/asa/asa93/netflow/netflow.html

This two fields are a sequence of bytes.
The 12-byte raw ACL ID must be divided into its three constituent parts, as follows:

    The first four bytes are the ACL Name

[2015-09-21 06:29] hkshirish opened #21 "logstash unable to parse netflow if the netflow are sent from different sources like ASA and cisco router"
Is it possible to configure logstash  to parse netflow records from different sources like CISCO ROUTER and CISCO-ASA.

When I send the netflows only form one of the sources(cisco router or cisco asa), the logstash is able to decode it.

But the issue is when both sources send the the netflow records.

I keep getting following messages when I send netflows from both ASA and cisco router.

Template

[2015-09-23 08:57] hkshirish commented on #6
Can logstash netflow codec able to  handle netflow from different sources?

[2015-09-23 09:13] bodgit commented on #6
Unless they all emit exactly the same template formats for any given template ID then you will need to be able to vary the source ID in the header. So if your different sources are all entirely the same piece of hardware or software then in theory it shouldn't be a problem.

The templates *should* be keyed on a tuple of `<source IP>,<source ID>,<template ID>` however the codec does not have access

[2015-09-24 06:50] jorritfolmer commented on #21
This is a duplicate of Issue #6.
You should try to apply the fix from Pull Request https://github.com/logstash-plugins/logstash-codec-netflow/pull/16.
This worked for me, I had similar issues.

[2015-10-08 09:44] hkshirish commented on #21
I applied the fix, But when multiple sources are configured to send V9 records (in my case it is ASA and cisco router), Some of the flows of the cisco router are missing.
This works find when I have cisco ASA send v9 records and cisco-router send v5 records)

[2015-10-08 18:29] jorritfolmer commented on #21
Could you run a tcpdump on the Logstash server when both the ASA and Cisco router send netflow data? I think 5 minutes should be enough to capture both templates and data.
`tcpdump -i eth0 -s 0 -w /tmp/cisco_asa_plus_router.pcap`
And post the resulting .pcap file somewhere public, for example on pastebin.com?

[2015-10-09 13:57] hkshirish commented on #21
I am not able to attach the pcap in pastebin, please email me "shktech9@gmail.com" where I can send the pcap.
 Below I am pasting the templates for CISCO router  and CISCO ASA which I got from this capture.
![asa](https://cloud.githubusercontent.com/assets/14539726/10395628/a93cf838-6ebb-11e5-9d72-50a72ddb9fdf.png)

![cisco_router](https://cloud.githubusercontent.com/assets/14539726/10395560/44bea

[2015-10-09 18:24] jorritfolmer commented on #21
From the screenshots it seems you are hitting issue #9.
Both the Cisco router and Cisco ASA send netflow packets with the same SourceID 0.
They also send Data Templates with the same TempateID 256, 257 etc.

However, the templates differ. Since the logstash-codec-netflow only uses SourceID and TemplateID, one of these netflow streams will not be parsed properly, because e.g. the ASA template is ap

[2015-10-13 20:11] jorritfolmer commented on #21
Thanks for providing the .pcap through email!
With the .pcap file I have been replaying the asa and router netflows to my own logstash.
That gave a lot of these for the ASA netflow:

[code]

So I've added all the fields to the netflow.yaml file (see PR #24), and after that I was able to receive both v9 router and asa netflows:

[code]

Which flows of the Cisco router are you missing exactly when r

[2015-10-15 06:56] hkshirish commented on #21
Flows were missing when ASA sends template and cisco router  send the data.
Also to double check I started 2 instances of logstash , in one instance I had configured to receive the netflow form both asa and cisco router listening on port 9995. In another instance I had configured the netflow for only cisco router listening on 9996.

After that  check the count of netflow records(for cisco router)

[2015-10-15 07:45] jorritfolmer commented on #21
Ah yes I see. It appears I didn't reproduce your issue properly. I replayed the template+data from the router, and then replayed the template+data from the ASA. Which works obviously, but like you said, the issue is in receiving template from router, then template+data from ASA and then data (without template) from the router.

Since the ASA template packet contains template ids 256 to 268, it wil

[2015-10-15 09:41] jorritfolmer commented on #20
Could you try to test PR #24 to see if it fixes this?

[2015-10-15 22:07] salva-ferrer opened #26 "Logstash exception in parsing MAC address"
Hi,

I've setup an ELK environment to collect netflow records containing the MAC address in the flow record, I consistently get the following error and logstash immediately stops:

[code]
This happens after the first record after receiving the template.

Checking the offending line I can see in util.rb:

[code]

I must start saying that I'm not expert in ruby but the message seemed to complain abo

[2015-10-16 02:16] broknbottle commented on #20
I don't believe it's working as I am receiving an error that the numeric value is too large to be parsed,

"status"=>400, "error"=>{"type"=>"mapper_parsing_exception", "reason"=>"failed to parse [netflow.ingress_acl_id]", "caused_by"=>{"type"=>"json_parse_exception", "reason"=>"Numeric value (40304685089359864798539415552) out of range of long (-9223372036854775808 - 9223372036854775807)\n at [Sou

[2015-10-16 05:09] jorritfolmer commented on #20
It looks like Elasticsearch is unable to parse the rather large numeric value that Logstash provides.
However, I think having Logstash output it as a string field would be more appropriate since `the 12-byte raw ACL ID must be divided into its three constituent parts`

[2015-10-16 11:03] jorritfolmer commented on #26
You can also check PR #23

[2015-10-17 08:23] jorritfolmer commented on #20
I've updated PR #24 to decode the ingress and egress acl fields like this:

[code]

[2015-10-20 19:00] broknbottle commented on #20
@jorritfolmer thanks! I will test this out.

[2015-10-21 09:20] jorritfolmer commented on #21
I think I've fixed the issue, perhaps you could test?

I've added another commit to PR #20. It now also takes into account the IP and port from the netflow exporters, so that templates sent from your ASA don't overwrite the ones from your router.
Based on the .pcap you provided, this seems to work now.

It does however need this patch to logstash-input-udp, to provide the necessary metadata to the

[2015-10-21 09:33] jorritfolmer commented on #9
I've added commit jorritfolmer@fca329f7a2b4845020d26c925540851093ba61f1 to address this, as experienced in issue #21.

It requires a small patch to logstash-input-udp, to send metadata to the codec, as per https://github.com/logstash-plugins/logstash-codec-netflow/issues/21#issuecomment-149832184:

[code]

and an extra **metadata => true** parameter to the logstash config like this:

[code]

Feedb

[2015-10-21 14:32] benlavender opened #27 "NetFlow V9 with VyOS."
Hello, got a small issue with NetFlow parsing with Logstash (1.4.5), where no data is showing in Kibana. I am successfully taking V9 flows from an IOS device.
VyOS flow config:

[code]

My input takes syslog using the UDP plugin on UDP port 514 and my NetFlow takes it using the NetFlow codec using UDP port 9995 and sends to Elasticsearch depending on the type, which again works great on my test IO

[2015-10-21 17:38] jorritfolmer commented on #27
It really depends on how often your Netflow exporter sends the template packets used to make sense of the Netflow data packets. The errors you get mean that Netflow v9 data packets were received without having first received a corresponding template to know which fields are actually included in the data packets. Packets containing templates are only sent once in a while, for example each minute. S

[2015-10-22 15:53] benlavender commented on #27
Sure Jorrit I’ll get some of that over, I’ve seen the templates being sent periodically from an IOS device in the past but not captured any from this particular type of device. I’ll get that over.

[2015-10-28 15:02] benlavender opened #28 "Support for ESXi VDS - ESXi 5.1+"
Ticket request to support IPFIX for ESXi 5.1 and above. Any NetFlow exports sent from ESXi devices on ESXi 5.1+ now only support IPFIX.

I have this implemented myself using this plugin including the @bodgit IPFIX support and receive the below in the logstash.log file:

:message=>"Unsupported enterprise", :enterprise=>6876, :level=>:warn}

[2015-10-28 15:09] bodgit commented on #28
So somewhere VMware *should* document any custom fields that they send which will be a tuple of `id`, `name` and `size` for each field. I had a quick look but couldn't see a list published anywhere.

[2015-10-28 15:30] benlavender commented on #28
Does this help? http://sourceforge.net/p/nfdump/mailman/nfdump-discuss/thread/1492FDFF-6FAE-4FA4-9D7D-787064E5FCFB@onthenet.com.au/

I've logged a support request to VMware to see if the information can be provided.

[2015-10-28 15:49] jorritfolmer commented on #28
Can you do some packet capturing on your logstash instance so we can look at it?
`tcpdump -i eth0 -s 0 -w /tmp/ipfix_esxi.pcap udp and port 9995`
It seems you can attach files to posts like this, or you can use something like [filebin.ca](http://filebin.ca) to upload it to.

[2015-11-08 09:04] jorritfolmer commented on #28
I created this patch to the `ipfix.yaml` in the @bodgit ipfix branch to support the IPFIX fields exported by a vSphere 5.5 virtual distributed switch I had access to. Since these fields are undocumented, I've simply named them after their enterprise and element id's. Any word from VMware yet on this, @benlavender ?

[code]

A sample rubydebug output from Logstash looks like this:

[code]

[2015-11-09 12:21] benlavender commented on #28
Vendor hasn’t been much use as they’re wanting to know why we think their implementation deviates from the standard RFC5101, basically I’ve not managed to speak with anyone that is aware of their own modifications to the IPFIX exports records or understands the difference. I’ve noticed private entries in the records as below:

![export](https://cloud.githubusercontent.com/assets/11093811/11033594/

[2015-12-17 06:49] wrigby commented on #9
Not sure how I missed all the work you put into this @jorritfolmer - looks great; I'll try to test it out in the next week. I came across elastic/logstash#4289, which proposes a similar fix.

[2015-12-18 19:11] jorritfolmer opened #30 "Request to create fast-merging branch for testing"
For some time now, there are a number of pull requests open that: add significant new functionality (Netflow v10 / IPFIX), add support for enterprisy gear and fix a number of bugs that seem to severly handicap deployments where Logstash is used as a Netflow collector.

At present it is just painful to merge the various branches from other repositories into a logstash-codec-netflow version that is

[2015-12-28 16:14] spirrello opened #31 "if_name field not matching device Interfaces"
Hi,

The if_name field appears to not match when we export netfow v9 from our ISR routers.  Has anyone else reported this problem yet?  Below is my template.

'{
    "template" : "logstash_netflow9-*",
    "settings": {
      "index.refresh_interval": "5s"
    },
    "mappings" : {
      "_default_" : {
        "_all" : {"enabled" : false},
        "properties" : {
          "@version": { "index":

[2015-12-28 20:12] jordansissel commented on #31
@spirrello I'm not sure I have enough information. Can you elaborate on what you mean by 'if_name field not matching' ? What isn't matching? Can you show an example of an event with `if_name` and show me what you expected it to be?

[2015-12-28 21:00] spirrello commented on #31
For instance, i'm not seeing any results within Kibana with that field.  I
can't give you an example of an event with that field because we're not
seeing anything show up for it.  However, we are exporting that field from
our router.

[image: Inline image 1]

On Mon, Dec 28, 2015 at 3:12 PM, Jordan Sissel <notifications@github.com>
wrote:

[2015-12-31 09:06] #30 closed

[2015-12-31 09:17] jorritfolmer commented on #31
@spirrello Can you do post a .pcap file of the Netflow traffic going into your logstash instance so we can look at it? 10 minutes should be enough if there is some traffic on the routers.
`tcpdump -i eth0 -s 0 -w /tmp/cisco_isr_netflow_v9.pcap 'udp and (port 9995 or port 2055)'`

[2015-12-31 14:49] spirrello commented on #31
Thanks for the follow up.  As it turns out, we're using Cisco's Flexible Netflow exporting v9 and it actually doesn't provide this information.  You can close this issue and again, thanks for responding so quickly.

[2015-12-31 14:49] #31 closed

[2015-12-31 15:36] jorritfolmer commented on #31
There does seem to be a `collect interface` statement for Flexible Netflow, based on [Cisco IOS command reference](http://www.cisco.com/c/en/us/td/docs/ios/fnetflow/command/reference/fnf_book/fnf_01.html). Not sure if it exposed in your ISR's through.

[2016-01-20 15:34] romale opened #32 "Type 56 name symbol mistake?"
Hi, i think here is mistake:
need change
56:
- :mac_addr
- :in_src_max

to

56:
- :mac_addr
- :in_src_mac

because of:
![screen81](https://cloud.githubusercontent.com/assets/928628/12453465/606ec4b2-bfa4-11e5-9fcf-907e3b7c09b4.png)

[2016-01-20 15:56] jorritfolmer commented on #32
Yes this is fixed whenever PR #23 is merged.

[2016-01-25 04:14] killafunkinmofo opened #33 "Netflow Codec v9 sampling interval"
Hello,

I have been starting to try the netflow codec with v9 in place of v5. I have noticed that in my flow data sampling interval doesn't show up on a regular basis. My SRX seems to send that info periodically, but not regularly. In my configurations, I have a ruby line that multiplies the bytes and packets value with the interval. This helps gives the data actual values and help to work out per

[2016-01-28 22:47] optiz0r commented on #6
In case this is useful to anyone else who comes across this issue, I was seeing this error message too, but in my case it was caused by some of the data fields being sent my my netflow device (mikrotik router) being different sizes than the netflow.yaml definitions file shipped with the netflow plugin.

For reference, I made the following changes:
[code]

I also added these entries:
[code]

[2016-02-17 20:15] ssi0202 commented on #20
any word on how this worked out?

[2016-02-20 09:29] Rojuinex opened #34 "#<ArgumentError: wrong number of arguments (1 for 0)>"
Howdy, I'm getting an error trying to get netflow v9 data to be parsed correctly.  It spewes the "unsupported field" and "no matching template" errors and every so often I get this error (which I think is happening when the template file is received)

[code]

The router is a MikroTik and has the following traffic flow settings:
[code]

The ELK stack is running in docker from this repo: https://git

[2016-02-20 09:32] echobnet commented on #34
+1 I too am having this issue with a very similar setup.

[2016-02-20 09:42] jorritfolmer commented on #34
This seems like a duplicate of Issue #19, that has been fixed in Pull Request #23, but which hasn't been merged into master yet. However, you can apply the changes from the pull request manually to see if this fixed things.

[2016-02-20 12:08] Rojuinex commented on #34
I applied the changes from that patch and it seems to work better, however it only imports data every minute, in between minutes I still get the "Unsupported field" and "No matching template" errors.  Any suggestions?

![screen shot 2016-02-20 at 5 06 11 am](https://cloud.githubusercontent.com/assets/2524890/13196616/e86b4b6c-d78f-11e5-922b-f1c3bca954de.png)

[2016-02-20 14:14] jorritfolmer commented on #34
It's probably better to look at a rubydebug output from logstash to determine if you're happy with the data it is collecting.

As for the "no matching template" errors, you may hit issue #9. How many netflow devices are you exporting to logstash?

As for the "unsupported field", does it give any more info than this to go on?

[2016-02-22 17:23] Rojuinex commented on #34
I'll take a look at the output as well as at issue #9.  At the moment I'm only exporting from 1 device.

These are the errors I get.

I think the unsupported is related to [#12](https://github.com/logstash-plugins/logstash-codec-netflow/issues/12)

logstash_1 | {:timestamp=>"2016-02-22T17:12:33.483000+0000", :message=>"Unsupported field", :type=>225, :length=>4, :level=>:warn}
logstash_1 | {:times

[2016-02-22 20:04] jorritfolmer commented on #34
Ah great, you could try to edit `netflow.yaml` and add to get rid of the missing field message, and hopefully the other as well:

[code]

[2016-02-23 17:24] Rojuinex commented on #34
Adding that field helped.  I got some more errors but I followed the info on [this page](http://www.cisco.com/c/en/us/td/docs/security/asa/special/netflow/guide/asa_netflow.html) to add
[code]

And now I only get a few "No matching template" errors upon startup and sometimes I get a "Template length doesn't fit cleanly into flowset" Aside from that everything seems to be working excellently!  Than

[2016-02-23 17:24] #34 closed

[2016-03-19 00:13] zhaohangbo commented on #12
Why can't I parse the netflow data and write the data to file.
Although I can capture the netflow template(256,263) and data flowset via TShark successfully.

But why it keeps report warnings in the log.
[code]

[2016-03-26 18:37] ehayon commented on #27
Were you ever able to resolve this? Trying to export VyOS netflow v9 to logstash but I'm getting "No matching template for flow id 1024"

[2016-04-01 10:19] ssi0202 commented on #6
hi is there a newer version available on githup that fixes this

[2016-04-01 17:35] jorritfolmer commented on #6
There are patches waiting to be merged into a newer version. If you want a newer version, you'll have to patch and merge it yourself unfortunately.

[2016-04-05 09:27] benlavender commented on #27
We didn’t implant it in the end, purely down to the change of requirements. This would be a similar issue to https://github.com/logstash-plugins/logstash-codec-netflow/issues/28 which I believe was resolved.

[2016-04-29 09:53] kan1207 opened #35 "how to send netflow to logstash and elasticsearch"
I have been browsing for different sites on how to send network traffic data to logstash and elasticsearch; nevertheless, could not find an effective way to do so.

Wonder could anyone give me some steps and guidelines

Great thanks

[2016-04-30 09:27] jorritfolmer commented on #35
This minimal config for Logstash should work:

[code]

[2016-04-30 10:51] kan1207 commented on #35
It seems unable to fetch mapping. Any add-ons need to be configured?

[2016-05-05 07:38] jorritfolmer commented on #26
Closed with merge of #23

[2016-05-05 07:38] #26 closed

[2016-05-05 07:40] jorritfolmer commented on #20
Closed with merge of #24

[2016-05-05 07:40] #20 closed

[2016-05-05 07:41] jorritfolmer commented on #19
Closed with merge of #23

[2016-05-05 07:41] #19 closed

[2016-05-05 07:43] jorritfolmer commented on #18
Closed with merge of #22

[2016-05-05 07:43] #18 closed

[2016-05-05 07:44] #11 closed

[2016-05-05 12:48] jorritfolmer commented on #17
In summary: the root cause of this issue was a bug in the softflowd version on OpenWRT which emitted malformed Netflow data. The logstash-codec-netflow has since been patched to better handle and detect malformed data, with the merging of the PR referenced above.

[2016-05-05 12:48] #17 closed

[2016-05-05 13:14] jorritfolmer commented on #12
In summary: the original issue refers to an unsupported field type 225 which is most likely a field from Cisco ASA. Support for Cisco ASA fields has been added with the recent merger of PR #24.

[2016-05-05 13:14] #12 closed

[2016-05-05 13:14] #32 closed

[2016-05-05 13:15] #13 closed

[2016-05-06 08:41] jorritfolmer commented on #6
This has been fixed now. In summary: there were multiple occurences of this issue:

* when receiving Netflow options templates with scope fields: fixed with PR #37
* when receiving Netflow data from multiple devices with differing templates: fixed with PR #25

[2016-05-06 08:41] #6 closed

[2016-05-06 08:58] jorritfolmer commented on #35
Ah apologies, the config above is for Logstash 2.x so you're probably running Logstash 1.x.
If so, this config may yield better results. At the very least you should see Logstash listening to port 2055 with this:

[code]

[2016-05-06 09:08] jorritfolmer commented on #33
First I guess the sampling interval is accessible through `event['sampling_interval']`.
However, it is not present at the same time as `event['netflow']['in_bytes']`, so I think you may need to use the `memorize` plugin to get the fields from different events together.

[2016-05-07 12:56] jorritfolmer commented on #14
IPFIX support has been merged into master now

[2016-05-07 12:56] #14 closed

[2016-05-12 19:30] tpnoonan opened #38 "When is v3.1 available from the logstash-plugin update utility?"
Sorry all, I'm new to logstash and especially this netflow code.  I see that Jorrit release v3.1

https://github.com/logstash-plugins/logstash-codec-netflow/releases/tag/v3.1.0

however, i'm having a hell of a time getting a centos os to build the source package.  What my question is however is about process.  If Jorrit releases a new version, when or how long does it take to be included "where ev

[2016-05-12 20:32] tpnoonan commented on #38
ok, posted a similar message on the log stash community and i see that the code needs to be pushed to rubygems.org

Jorrit, can you push?

[2016-05-12 20:58] suyograo commented on #38
@tpnoonan 3.1.0 is only supported for LS 5.x release. You can install this using `bin/logstash-plugin install --version 3.1.0 logstash-codec-netflow`

@jorritfolmer Can you backport the IPFIX support to this branch `plugins-api-v1`? https://github.com/logstash-plugins/logstash-codec-netflow/tree/plugin-api-v1. We can then release a new  branch to support LS 2.x.

[2016-05-13 18:29] jorritfolmer commented on #38
Yes backport just committed to the `plugin-api-v1` branch

[2016-05-16 18:02] zamog commented on #38
Also waiting for the IPFIX support under the 2.1.0 version (for testing with Cisco NBAR2 and Performance monitor features data export) any way to install it without building the gem ?
i tried to run `bin/logstash-plugin install --version 2.1.0 logstash-codec-netflow` and get " version 2.1.0 does not exist"

[2016-05-17 16:20] untergeek commented on #38
@zamog please open a separate issue for that request, as it should be tracked separately.  @jorritfolmer if you have pushed an update to rubygems, please close this issue.

[2016-05-17 19:03] jorritfolmer commented on #38
Sorry but I don't have permission to push to rubygems with my account:

[code]

[2016-05-17 22:29] suyograo commented on #38
Published 2.1.0 for LS 2.x and 3.1.0 for LS 5.x. @jorritfolmer added you to RubyGems.org

[2016-05-20 04:43] #38 closed

[2016-06-12 10:58] Iril opened #39 "fielddata=true errors on ip_addr_dest"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:
- Operating System:
- Config File (if you have sensitive info, plea

[2016-06-17 06:02] hkshirish commented on #28
Hi JorritFolmerto

Upgraded the latest logstash codec from the
https://github.com/logstash-plugins/logstash-codec-netflow/pull/10
and then applied the patch for vmware ipfix.
https://github.com/logstash-plugins/logstash-codec-netflow/issues/28

Then I played the IPFix packets from VMware. Attached the same.(to your email id)

But I see following messages for the attached pcap.
Let us know if there

[2016-06-17 07:24] jorritfolmer commented on #39
The title appears to be addressing an issue. However, the body doesn't. Feel free to reopen after providing any information that can help identify the actual issue.

[2016-06-17 07:24] #39 closed

[2016-06-17 07:31] jorritfolmer commented on #28
Thanks for sending the .pcap. However there are no template packets, only data packets. Without template packets the data packets cannot be decoded, so I can't replay them to my local Logstash to test with.

Could you try capturing them too? I assume than making a capture of several minutes will include both data and template packets.

[2016-06-17 07:35] jorritfolmer commented on #9
There has been an update to elastic/logstash#4289. With regard to the netflow codec needing packet metadata, I quote Guy Boertje from that thread:

[2016-06-17 09:09] hkshirish commented on #28
Attached the pcap which has templates.

The following packets have template in it packet 1, 135,195

Regards,
Shirish

On Fri, Jun 17, 2016 at 1:01 PM, Jorrit Folmer <notifications@github.com>
wrote:

[2016-06-28 18:23] rudolphosu opened #40 "Number Format Exception when parsing mac address"
Hi, I am receiving the following error when trying to index netflow records:

"error"=>{"type"=>"mapper_parsing_exception", "reason"=>"failed to parse [netflow.staMacAddress]", "caused_by"=>{"type"=>"number_format_exception", "reason"=>"For input string: \"2c:33:7a:5b:46:bb\""}}}}, :level=>:warn}

This is after applying the change to util.rb from PR #23
My terminal output shows that the mac addres

[2016-07-01 04:56] killafunkinmofo commented on #33
That's an interesting suggestion, I haven't actually tried that plugin before. I will need to re setup on a sandbox and try sometime later though. I have shutdown this test, but this is a good reason to start it up again.

Thanks!

[2016-07-01 04:57] jorritfolmer commented on #40
This looks like an Elasticsearch error, not a Logstash one, or one related to the logstash-codec-netflow. Perhaps you could check the elasticsearch logging for clues. Most likely you'll need to tell Elasticsearch that staMacAddress is now of type string, instead of whatever is previously was.

[2016-07-06 17:39] rudolphosu commented on #40
issue resolved, thanks

[2016-07-06 17:39] #40 closed

[2016-07-07 23:42] zerosignal0 opened #41 "netflow codec doesn't seem to work with logstash 2.3.4"
Hello,

I have opened a thread on the elastic.co forums on this issues, however was able to validate with my configuration that it seems 2.3.4 logstash is not able to be loaded using the latest netflow codec.  I had validated with a few known working 2.1.0 netflow configuration files procured from the IRC channel, however these would not load as well in logstash 2.3.4.  Upon downgrading to 2.2.4 I

[2016-07-08 04:59] jorritfolmer commented on #41
The config you posted on the forum should be expected to work. However, this doesn't seem to be the config file referenced in the error message, `20-logstash-staticfile-netflow.conf` Can you post that one too?

I'm also unable to reproduce this on a (Red Hat 7) vm with Logstash 2.3.4-1 and the config you posted.
[code]

[2016-07-08 05:17] jorritfolmer commented on #28
I haven't found any documentation about there fields, especially the 951 field, and don't have time to look into it.
So the quickest way to get NSX data in ES is to skip these unknown fields.
If you have already modified the ipfix.yaml with the vSphere additions earlier in this thread, then add:

[code]

Otherwise add:

[code]

[2016-07-08 14:31] renevdm commented on #41
I have the same issue. Opened https://github.com/elastic/logstash/issues/5608 for this, but closed it as it seems to be a duplicate of this one.

[2016-07-08 14:45] marke72 commented on #41
I have the same issue as well. I updated from 2.3.3 to 2.3.4 and got this exact error when starting logstash. I tried with a fresh install of logstash but still the same error. My codec version is 2.1.0 which is what comes with the current version of logstash

[2016-07-08 16:01] jorritfolmer commented on #41
Ah I'm getting the same error now when starting logstash instead of only `--configtest`

[2016-07-08 16:16] jorritfolmer commented on #41
It appears that [this commit to the BinData library in march 26nd](https://github.com/dmendel/bindata/commit/0e0e636364647e14f03853993490d10a5edf30f5) expands the number of reserved words, of which `fields` is one. Since Logstash 2.3.4 now includes this particular version of BinData, we get this error.

[2016-07-08 20:17] jorritfolmer commented on #41
Ok fixed it with commit 5eae8d5f57ce25977639992955da6c247689e632.
And published a new logstash-codec-netflow-2.1.1 gem on rubygems

You can update the netflow codec to v2.1.1 through:

[code]

and then:

[code]

[2016-07-08 20:28] marke72 commented on #41
I just installed the update and it seems to be working great! Thanks for the quick fix!

[2016-07-08 21:50] renevdm commented on #41
Great! Works like a charm again! :-)
Thanks for making an update available this quick!

[2016-07-11 23:32] suyograo commented on #41
Fixed in 2.1.1

[2016-07-11 23:32] #41 closed

[2016-07-18 18:32] cvicente opened #42 "Cannot install 3.1.2 with Logstash 2.3.4"
Hi,

I am interested in using this plugin with IPFIX support, so I need the latest version. However I cannot install it. This is Ubuntu 14.04. Logstash installed using latest deb package:

[code]

I tried to update the plugin using the following:
[code]

I then downloaded the latest gem from rubygems, and tried:

[code]

The 3.1.2 Changelog mentions:

[code]

Which seems to suggest that the plugin

[2016-07-18 19:46] jorritfolmer commented on #42
Yes the 3.x version of this codec is for Logstash 5.x, which isn't out of beta yet.
The most recent 2.x version does work for Logstash 2.x, so you should try to do something like this:

[code]

and then:

[code]

[2016-07-18 19:48] cvicente commented on #42
Thanks, but I can't use 2.1.1 because I need IPFIX support, and it came in 3.1.0.

It's unfortunate the the plugin can't be made backwards compatible with previous core API versions.

[2016-07-18 19:54] jorritfolmer commented on #42
2.1.1 includes IPFIX support, see https://github.com/logstash-plugins/logstash-codec-netflow/blob/v2.1.1/CHANGELOG.md

[2016-07-18 19:57] cvicente commented on #42
Oh, I see. I was going by the Changelog in the master branch:
https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/CHANGELOG.md

Thanks!

[2016-07-18 19:57] #42 closed

[2016-07-26 19:44] jorritfolmer commented on #9
Following up on the suggestion of @guyboertje, I've started with the transition from codec to logstash-input-netflow in the branch `logstash-input-netflow`, based on the udp input plugin.

It works!

There is still work to be done however in the rspec department, and we'll probably need to support more than udp only.

[2016-07-27 12:05] guyboertje commented on #9
@jorritfolmer - good news indeed. Ping me if you need any help.

[2016-07-27 12:38] wrigby commented on #9
@jorritfolmer @guyboertje - Let me know if you guys need help, too. I'm a Ruby noob, but I definitely wouldn't mind helping out. Unfortunately, I'm at a different company now (outside of the telco space), so I don't have any test data anymore :(

[2016-07-29 01:11] Oydin commented on #41
_Good day! Maybe some of us faced with this problem. I use:_
**- Red Hat 7
- logstash-all-plugins-2.3.4-1.noarch.rpm
- java-1.8.0-openjdk.x86_64 1:1.8.0.91-1.b14.el7_2
- elasticsearch-2.3.4.rpm
- kibana-4.5.3-1.x86_64.rpm**
_The web site is available, full green. No extra configuration is did. I used the two commands:_
1. #/opt/logstash/bin/plugin uninstall logstash-codec-netflow
2. #/opt/logstash

[2016-08-11 20:50] schif1 commented on #28
Hello,

Some news about the support of vDS 6.0 netflow 10 ( IPFIX) ?
Do you want some sample ?
How can i help to improve the support of VMware ?

Thanks

[2016-08-14 10:32] jorritfolmer commented on #28
If you can send me a .pcap of vDS netflow traffic I can take a look at it. Email in profile. It would be especially helpful if you have any information about the vendor specific fields.

[2016-08-14 11:21] jorritfolmer commented on #9
Small status update:

I've finished work on logstash-input-netflow, which is waiting as a PR [here](/logstash-plugins/logstash-input-netflow/pull/1)

However @jordansissel pointed out that this move to input plugin isn't necessary with the availability of something called [Identiy Map Codec](/logstash-plugins/logstash-codec-multiline/pull/13), which is meant to support a use-case like ours here, w

[2016-08-18 20:20] jorritfolmer commented on #9
Great! This issue and issue #21 are gone with identity map codec. It doesn't require modifications to our codec, just a couple of lines in logstash-input-udp. I'll create a PR there next week or so.

[2016-08-19 09:02] zoubazouba commented on #28
Hi,

I am receiving netflow v 9 data from cisco devices. Logstash couldnt decode the netflow data and showing this output: How can I solve this problem please ?

_**{:timestamp=>"2016-08-19T10:26:17.043000+0200", :message=>"No matching template for flow id 313", :level=>:warn}
{:timestamp=>"2016-08-19T10:26:17.043000+0200", :message=>"No matching template for flow id 324", :level=>:warn}
{:timesta

[2016-08-19 11:09] jorritfolmer commented on #28
Please create a separate issue since this doesn't seem to address anything VMware specific. I'll delete these comments afterwards.

[2016-08-19 11:48] zoubazouba opened #46 "MPLS labels: Logstash couldn't decode flow id 324 and 314 using Netflow v9"
Hi,

I am receiving netflow v 9 data from cisco devices. Logstash couldnt decode the netflow data and showing this output: How can I solve this problem please ?

**_{:timestamp=>"2016-08-19T10:26:17.043000+0200", :message=>"No matching template for flow id 313", :level=>:warn}
{:timestamp=>"2016-08-19T10:26:17.043000+0200", :message=>"No matching template for flow id 324", :level=>:warn}
{:timesta

[2016-08-19 11:52] jorritfolmer commented on #46
Most of the time these messages go away after a couple of minutes. If that is the case, don't worry about it. If not: what Cisco devices are you using exactly?

[2016-08-19 12:01] zoubazouba commented on #46
Hi
thanks for responding. The cisco devices are CRS series and ASR9k series. I
will try to wait more time to see if it is working or not.

Best,

2016-08-19 13:52 GMT+02:00 Jorrit Folmer <notifications@github.com>:

--
*Zoubeir Zarrouk*
IEEE IAS Student Branch Chair at INSAT

[2016-08-19 12:24] zoubazouba commented on #46
Hello,

I have been waiting about 10 minutes but nothing has been changed, in Kibana I cant see the netflow values (IP source, IP DST, etc..) I can see only the sampler id and host and other non-pertinent data.

[2016-08-23 18:16] jorritfolmer commented on #28
Thanks for sending me a .pcap. It seems there is no difference between a vDS 5.5 and vDS 6.0, as far as Netflow/IPFIX is concerned.

This means you can apply the patch (see thread above) to ipfix.yaml in your Logstash install.

If you have a VMware support contract, you might want to inquire about the meaning of the 883,...,889,890 fields. Much appreciated :)

Save the patch in something like /tmp

[2016-08-28 06:37] jorritfolmer commented on #46
Could you send me a .pcap with the netflow traffic on your Logstash instance, so I can take a look at it?

[2016-09-05 14:56] zoubazouba commented on #46
Hello,

I would like to ask you if Logstash-Netflow support MPLS templates from
ASR9k routers ?

Best,

2016-08-28 8:37 GMT+02:00 Jorrit Folmer <notifications@github.com>:

--
*Zoubeir Zarrouk*
IEEE IAS Student Branch Chair at INSAT

[2016-09-06 07:08] jorritfolmer commented on #46
No not yet. However, there is a Pull Request open since early 2015 to support MPSL labels. It needs updating, and most of all it needs Netflow traffic with actual MPSL labels so we can test it. If you can provide a .pcap with the netflow traffic on your Logstash instance, we can revive that Pull Request.

[2016-09-07 07:00] sysmonk opened #47 "netflow codec crashes with NoMethodError: undefined method `elements' for "0.0.0.0":IP4Addr"
Hi,

Our logstash stopped parsing netflows a couple times in the last week. Both times the error was:
`NoMethodError: undefined method `elements' for "0.0.0.0":IP4Addr`
Full error:

[code]

Logstash 2.3.1 on Debian Jessie
The config file is huge, but assuming that it dies at udp listener / codec decode, the related config part is simple:

[code]

I don't know what packets it was processing at that

[2016-09-07 21:03] jorritfolmer commented on #47
Thanks for the report. This seems to originate somewhere in the BinData gem we use, because the netflow codec doesn't use any `elements` method.

I'll have to look into it further, later.

[2016-09-10 13:49] bmagistro opened #48 "Add support for YAF"
Currently running ELK with the logstash-codec (2.1.1) and trying to add support for YAF IPFIX (https://tools.netsa.cert.org/yaf/index.html).  I've gotten a portion of the entries added to ipfix.yaml based on their docs (https://tools.netsa.cert.org/yaf/yaf.html) and have filled in ":skip" for others but am having issues getting all templates to load.  This was confirmed by adding some debug lines

[2016-09-10 17:29] hhindlem commented on #46
Jorrit,

I have a small netflow pcap with templates and trace packets that contain the MPLS_LABEL_STACK_OCTETS field.  Let me know if you'd like me to send the file to you.

My logstash (v. 2.4.0, with logstash-codec-netflow v. 2.1.1) fails to ingest netflow from my Ubiquity EdgeRouter X (running their software v. 1.8.0).  I can see in Wireshark's dissection of the template packets that the "Unsup

[2016-09-11 06:44] jorritfolmer commented on #48
1. There is currently no support for variable length fields. See [this comment](https://github.com/logstash-plugins/logstash-codec-netflow/pull/10#issuecomment-194371392) by @bodgit who authored the IPFIX code. To get your flowsets through this codec, it might mean disabling deep packet inspection, p0f and/or fingerprinting support in yaf.

2. Thanks for putting together a PR for the missing yaf f

[2016-09-11 06:46] jorritfolmer commented on #46
Yes! Send! Send! Email in profile :)

[2016-09-11 15:14] bmagistro commented on #48
For 1, I'm going to need some of the variable length data so turning things off isn't an option.  I'm going to see if I can figure out a way to support variable length data in the codec instead (don't know ruby...yet).

For 2, I am waiting on an answer back from the folks that developed YAF, they list a duplicate IE with different data types for it on one of the pages.

[2016-09-11 18:14] bgiesbrecht commented on #48
We have added support locally for variable length fields (but tested only
with IPFIX) but have not pushed it back to the project. We have been using
it successfully for many months. I'll see if we can do that this week.

-Brice
On Sep 11, 2016 11:14 AM, "bmagistro" <notifications@github.com> wrote:

[2016-09-11 18:54] jorritfolmer commented on #46
Can you try this patch?

[code]

For the MPLS part of your .pcap it outputs a new array with 4 elements:

[code]

The decoding of which I've taken from [RFC3032](https://tools.ietf.org/html/rfc3032)

[2016-09-12 14:33] bmagistro commented on #48
@bgiesbrecht, that is great!  I started trying to add in some support but didn't get very far.  For the upcoming YAF PR (may make it two) what did you use for the ipfix.yaml field definition to indicate that it is a variable length item?

[2016-09-12 21:55] bgiesbrecht commented on #48
Variable length is specified in the template info so the yaml files are
unaffected. https://tools.ietf.org/html/rfc7011#section-7.

On Mon, Sep 12, 2016 at 10:33 AM, bmagistro <notifications@github.com>
wrote:

[2016-09-13 01:13] hhindlem commented on #46
Jorrit,

Your patch worked!

I'm seeing logstash successfully ingest my netflow messages.

thanks for your help,

-hhindlem

[2016-09-13 14:45] natefleming commented on #48
I just checked in our update to support variable length strings in ipfix

[2016-09-19 19:26] jorritfolmer commented on #47
I've been trying to reproduce it with Netflow v5 packets that contain 0.0.0.0 as ipv4_dst_addr, ipv4_src_addr and ipv4_next_hop, just in case. However, these don't seem to be causing the exceptions you're getting.

[2016-10-13 15:12] user419 opened #52 "Different length types between devices"
We get some netflow from different devices, that sometimes have different lengths for the same types. However in line 490 in logstash-codec-netflow/lib/logstash/codecs/netflow.rb:
field[0] = uint_field(length, field[0]) if field[0].is_a?(Integer)

This overrides the length with the length from the actual netflow template provided by the device but only if the length in the netflow.yaml (defaults)

[2016-10-15 11:35] jorritfolmer commented on #52
Which version Logstash and logstash-codec-netflow are you using? Are there any error or warning messages in the logs?

It sounds like the issue fixed in #6.

But also like the issue in #21. It is hard to tell without actual pcaps. You could try to see if the patches in the comments there fix it for you.

[2016-10-20 13:30] cvicente opened #53 "Exception in inputworker (can't add a new key into hash during iteration)"
I have a logstash instance receiving IPFIX from multiple Juniper routers. I'm using:

Ubuntu 14.04
logstash 1:2.3.4-1
logstash-codec-netflow 2.1.1

Once every few days I see that the UDP error counters on the system goes up and logstash stops processing flows from one of the routers. The solution is to restart logstash. The following error seems related:

[code]

I would appreciate any pointers. T

[2016-10-21 14:27] jorritfolmer commented on #53
To start with the last one, it is a warning indicating receipt of an invalid IPFIX packet. It will drop it, and continue. (Flowset_id cannot be 0, see 3.3.2 from RFC7011 if you're interested).
The warning also came slightly later than the exception, suggesting that it was handled by another input worker thread that was non-crashed.

I've had a similar issue reported to me, privately unfortunately,

[2016-10-22 01:16] cvicente commented on #53
@jorritfolmer Thank you for the info. I will test the workers setting and report back.

[2016-10-26 02:05] gcyre opened #54 "Configs for Netflow (Citrix netscalers)"
I'm trying to setup logstash to receive metrics from our netscalers and am having issues getting the right settings.

My config looks like this:
input {
  udp {
     port => 5043
     codec => netflow {
       versions => [5,9,10]
       netflow_definitions => "/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-netflow-3.1.2/lib/logstash/codecs/netflow/ipfix.yaml"
       target => ipfix

[2016-10-31 15:13] wrigby commented on #54
@gcyre How long have you let it run for? Netflow/Ipfix work by sending out a template message periodically (usually 30ish seconds to a minute) which describes the format of the individual flow reports. Because of this, Logstash won't be able to parse the flow reports from the router until it gets the template message. The 'No matching template' messages in the first minute or so of runtime are nor

[2016-11-02 16:24] gcyre commented on #54
Hi @wrigby I let it run for a couple of hours and those warnings never went away. Someone on our team is updating working through the code and templates this week. Hoping we have a working solution this week.

thanks for your help

[2016-11-22 08:29] hail100 commented on #28
I cannot get json data use ipfix.patch.
`input {
  udp {
        port => 4739
        codec => netflow {
      versions => [10]
      target => ipfix
    }
    type => ipfix
  }
}`
debug log
`
[2016-11-22T16:22:43,430][DEBUG][logstash.codecs.netflow  ] Definition complete {:field=>[:ip4_addr, :destinationIPv4Address]}
[2016-11-22T16:22:43,430][DEBUG][logstash.codecs.netflow  ] Definition complete

[2016-11-22 08:44] hail100 commented on #28
Hi JorritFolmerto

I cannot get any data use vDS_ipfix.patch
some debug logs
``
[2016-11-22T16:22:43,415][DEBUG][logstash.codecs.netflow  ] Definition complete {:field=>[:uint16, :sourceTransportPort]}
[2016-11-22T16:22:43,415][DEBUG][logstash.codecs.netflow  ] Definition complete {:field=>[:uint16, :destinationTransportPort]}
[2016-11-22T16:22:43,415][DEBUG][logstash.codecs.netflow  ] Definition

[2016-11-22 16:41] ClaudioRifo opened #56 "Documentation issue: Unknown setting 'definitions' for netflow"
Please update documentation regarding the use of custom definitions.

Change:
          definitions
to:
          netflow_definitions

[2016-11-24 13:49] jorritfolmer commented on #28
@hail100 That is very little information to work with. What is your Logstash version, Logstash-codec-netflow version, logstash config? What other possible causes have you already eliminated?

[2016-11-24 13:51] jorritfolmer commented on #52
Closed, no feedback.

[2016-11-24 13:51] #52 closed

[2016-11-24 13:51] jorritfolmer commented on #53
Any update on this?

[2016-11-24 13:59] jorritfolmer commented on #56
Documentation is supposed to be automatically generated from the sourcecode.
However, this needs to be run manually. I'll ping the devs upstream.

[2016-11-24 14:15] jorritfolmer commented on #48
Mirroring the commends in the PR: If you find time to send me any .pcaps that contain variable length records, for testing, let me know.

[2016-11-24 14:18] jorritfolmer commented on #54
@gcyre Any update on this?

[2016-11-28 14:33] cvicente commented on #53
Greetings. I reduced the workers parameter in the UDP plugin 13 days ago and have not seen that error appear yet. I'd like to give it another couple of weeks to be 100% sure that it solved that problem. Thank you.

[2016-11-28 19:21] jorritfolmer commented on #53
Ok thanks! Seems like good news!

[2016-11-30 22:59] jordansissel commented on #56
There's a problem with the tooling we use for publishing documentation. We're working on it.

[2016-12-02 14:37] analogbyte opened #57 "No meaningful output for v9 data from Cisco ASR9K"
- Version: logstash 5.0.2-1 from RPM
- Operating System: CentOS 7.2.1511 with Kernel 3.10.0-327.36.3.el7.x86_64
- Config File:
[code]
- Sample Data: I can not provide netflow data publicly due to data protection laws, but I can give you access to some in private.
- Steps to Reproduce: Run Logstash with above Config, get Netflow data from Cisco ASR9K.

As described by @niempy [here](https://github.

[2016-12-03 12:28] jorritfolmer commented on #46
I've added my patch above as commit 16847eeeb66888c01c2cf2b9d7c222479661ca6d to master.
These now include rspec tests based on a 3 netflow packets from your pcap.
(Don't worry, I've anonymised every IP and MAC address)

I'll keep this issue open until it's part of a versioned release, likely 3.1.4

[2016-12-03 12:37] jorritfolmer commented on #47
Hi @sysmonk is this still going on?
Unfortunately I'm unable to reproduce it, and have no idea where to look.
Some questions then:

- what version Bindata gem are you using
- what version Logstash-codec-netflow gem are you using

[2016-12-03 12:41] jorritfolmer commented on #54
If you can provide me with a small pcap sample, I'll look into it. My email is in my profile.
Alternatively if you managed to fix it yourself, any feedback is also greatly appreciated ❤️

[2016-12-03 12:47] jorritfolmer commented on #57
(Copy/paste from my answer in elastic/logstash#4165:)

I just finished replaying @jdambly's pcap file to my logstash-codec-netflow v3.1.2.
It looks good to me, with bytes_in etc, see below.

Perhaps the issue is only with sampled netflow output, instead of full netflow?
Could you both send me a .pcap privately with some of your netflow traffic @analogbyte @niempy?
I'll take a look at it, my email

[2016-12-03 12:50] jorritfolmer commented on #35
It looks like the documentation will get an update soon, see #56.

[2016-12-03 12:50] #33 closed

[2016-12-03 12:52] jorritfolmer commented on #27
I'll leave this issue open as we don't have any confirmation that VyOS netflow actually works.
Please send me any .pcaps so I can add support and create the accompanying rspec tests.

[2016-12-03 12:59] jorritfolmer commented on #9
Update: This will be addressed in the migration to logstash-plugins/logstash-input-netflow#1.
It will allow us to own the network socket directly use the necessary IP addresses as a key.
Probably 2017 though.

[2016-12-03 13:01] jorritfolmer commented on #21
Update: This will be addressed in the migration to logstash-plugins/logstash-input-netflow#1.
It will allow us to own the network socket directly and use the necessary IP addresses that we need to differentiate between netflow exporters. As a codec, instead of a plugin, we need to jump through too many hoops and touch too many other plugins.
Probably 2017 though.

[2016-12-03 20:15] hhindlem commented on #46
Jorrit,

Thank you for fixing this.

Maybe I'll just mention that I'm occasionally seeing "Template length
doesn't fit cleanly into flowset", with "template_length": 58, and
"record_length": 120 or more often 472.  It doesn't seem to be causing a
big problem.  I'm just letting you know in case you want me to get more
data for you.

-hhmnj

On Sat, Dec 3, 2016 at 7:28 AM, Jorrit Folmer <notificatio

[2016-12-03 20:39] jorritfolmer commented on #46
If you can capture the netflow traffic around these occurrences, yes please!

[2016-12-05 14:33] gjmoed commented on #54
@jorritfolmer, I am/was working on the netscaler support with @gcyre. Briefly had to switch to a different internal project though so things stalled a bit. Looking to return to this project shortly and wrap things up. I see I have to rebase for your last merge but that should be trivial looking at the changes. But more importantly, though we took things through some prod testing already and the co

[2016-12-05 15:41] jorritfolmer commented on #54
Awesome!

If it helps, I use this script to anonymise .pcaps that I replay to Logstash:

[code]

[2016-12-06 10:29] analogbyte commented on #57
@jorritfolmer Done, thanks for looking into it 👍

[2016-12-06 10:42] sliddjur commented on #46
@jorritfolmer I don't think am not able to capture the netflow v9 template package from vyos routers (release 1.1.7).
Are the template packages in clear text? All packages I see seem to be netflow encoded.

Logstash log outputs

[code]
Here is my logstash input config:

[code]

Here is my vyos config

[code]

Attaching capture from netflow server to logstash server. Netflow capture. I've ran captu

[2016-12-06 10:45] sliddjur commented on #27
@jorritfolmer I don't think am not able to capture the netflow v9 template package from vyos routers (release 1.1.7).
Are the template packages in clear text? All packages I see seem to be netflow encoded.

Logstash log outputs

[code]
Here is my logstash input config:

[code]

Here is my vyos config

[code]

Attaching capture from netflow server to logstash server. Netflow capture. I've ran captu

[2016-12-06 12:58] sliddjur commented on #27
More log:
[code]
I also added the netflow_definition field file in my input plugin.

cat netflow.yaml
[code]

[2016-12-07 09:53] niempy commented on #57
@jorritfolmer   Done, many thanks for looking into it 👍

Below 2 screenshots from the pcap file (decoded with Wireshark latest version).
Seems the router uses template 260. This is also in the capture. I guess decoding template 260 is the issue?

packet with actual netflow data
![payload](https://cloud.githubusercontent.com/assets/15903216/20962844/4b0f46f4-bc6b-11e6-8c24-4e00331eaf76.jpg)

packag

[2016-12-07 17:53] jorritfolmer commented on #27
Thanks!. I've seen data templates in your .pcap, so that looks good.
I'll look further into it next weekend.

[2016-12-07 19:28] jorritfolmer commented on #57
Can you try the patch below?

It now decodes forwarding_status (89) into these values according to http://www.cisco.com/en/US/technologies/tk648/tk362/technologies_white_paper09186a00800a3db9.html

- status (2 bit value)
- reason (6 bit value)

On my dev vm this is the (anonymised) output I'm getting from one of your samples:

[code]

[code]

[2016-12-08 09:53] analogbyte commented on #57
I can't get it to work and I think it's my fault. Do I need to compile this into class files somehow? I checked out the master branch, which refused your patch. I did the changes myself, and copied the whole thing into the subdir `/usr/share/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-netflow-3.1.2/` of my installation. The exact diff I have is:

[code]
As you can see, I've moved the `89:

[2016-12-08 13:25] niempy commented on #57
Hi Jorrit,
many thanks for the quick patch!
We run into an issue. We never compiled this stuff with gem. We need to do this cause we run on 3.1.2 and we want to run this patch with your latest version. We tried but failed.

Is it possible you "compile" a version 3.1.5 so we can use that version? Or am I talking rubbish now.
Thanks.

regards, mark

[2016-12-08 14:25] niempy commented on #57
Hi,
we got it upgraded to 3.14.

We did not have to change anything on the yaml file. The forwarding_status (89) was already okay in 3.1.4

We added on line 75 of /u01/logstash/vendor/local_gems/64cba345/logstash-codec-netflow-3.1.4/lib/logstash/codecs/netflow/util.rb:

class Header < BinData::Record
  endian :big
  uint16 :version
end

Logstash restart and it worked!

Thanks Jorrit for the suppor

[2016-12-09 11:07] analogbyte commented on #57
I checked out 11baa9bf6366b16c8b8f399f3e6d4f8ec01f32b9 and tried to install by doing:
[code]
But looking at the files placed by logstash-plugin in `/usr/share/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-netflow-3.1.2/lib/logstash/codecs/netflow/util.rb` it is not the fixed version. Also the path is wrong, it says `3.1.2` although I've just installed `3.1.4`... Copying the files over the o

[2016-12-09 12:15] sliddjur commented on #27
This is captured with tcpdump. It is sent by pmacctd. I am not managing to see a template packet here either @jorritfolmer. What is the procedure to actually decode the netflow data within wireshark?
[tcpdumc.wireshark.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/642096/tcpdumc.wireshark.zip)

[2016-12-09 15:12] jorritfolmer commented on #57
@analogbyte Are you sure there is not also a 3.1.4 directory as well as 3.1.2?
You'll have to wait a bit before I publish the "official" 3.1.4 gem outside of GitHub, I'm a bit short on time.

[2016-12-09 15:18] jorritfolmer commented on #27
1. Load pcap in Wireshark
2. Right-click somewhere in the flows
3. Select "Decode as" (second item from below)
4. Select "5044" from the 2nd dropdown, under value. This is the port you seem to be using for Netflow
5. Select "CFLOW" from the 3rd dropdown, under current. This is the protocol is will decode the flows as. Is probably says "(none)" now.

[2016-12-09 15:41] analogbyte commented on #57
@jorritfolmer Yes I am. I have the correct version in that path now, installed via logstash-plugin (whatever difference it might make in comparison to putting the files there manually). It still is not working though.
I get the same output and logs as before, the logs have the following new warning though:

[code]

I haven't noticed that one before. I guess I'll wait for the newer gem, to rule out

[2016-12-09 16:02] jorritfolmer commented on #57
Ok I think that means you have 3.1.4 running. That's good!

However it seems your ASR9k sends (another) unsupported field. I've been using @niempy's pcap for testing that doesn't seem to contain them.

I'll look into it later. Can you point to the right Cisco ASR documentation regarding these netflow fields? I've found this, but not sure:
http://www.cisco.com/c/en/us/td/docs/routers/asr9000/softwa

[2016-12-09 16:38] jorritfolmer commented on #57
I've pushed a small update to a new asr9k branch with some of the fields in the docs.
These seem to work with the .pcap you provided.

From reading the docs it seems that the ASR9k emits options templates that allow the decoder to resolve certain interface and vrf ids to names. In your pcap I've seen options templates that contain interface names like `TenGigE0_6_1_1`, but not for vrf names. I'm n

[2016-12-10 11:39] analogbyte commented on #57
I'm still seeing the same results as before, and I'm not entirely convinced I install it correctly. Could you comment on the following process I'm using:
[code]

The logs still look the same, too. And even though you bumped the version to `3.2.0` in that branch, It is still installed to `logstash-codec-netflow-3.1.2`, but I cannot say why that is.

[2016-12-10 12:23] jorritfolmer commented on #57
Ok this is what I usually do:

1. systemctl stop logstash
1. edit `/usr/share/logstash/Gemfile`, find the line that contains the logstash-codec-netflow and specify the path you test with, so you can indeed freely do git checkout etc:

[code]

1. systemctl start logstash

[2016-12-10 13:58] analogbyte commented on #57
Thanks for this simple method, `logstash-plugin` is very slow and apparently didn't work the way I thought it would. I managed to see the decoded data, thank you so much! I think all relevant info is being decoded, but maybe @9er (of our backbone department) can spot something that's missing?

If it is somehow useful for you, our logs show:
[code]
(stripped of timestamps and record sizes for filte

[2016-12-10 15:36] 9er commented on #57
@jorritfolmer

In the example provided, only the default VRF is used, so no other VRFs are configured. That's probably why there aren't any in the template. The ID is in that case 0x60000000, which is exactly what's appearing in our Kibana now :)

Thanks for the patch!

[2016-12-11 09:02] jorritfolmer commented on #57
Thanks for the VRF clarification.
From your logs there are still some issues:

1. Another unsupported field, 236. I haven't been able to find any reference to field 236 in the ASR docs. I've been able to reproduce this from the pcap you provided, but I haven't located the actual flowset yet. I assume I can borrow the IPFIX definition of field 236 and apply it to Netflow v9?

2. Template length doe

[2016-12-11 09:08] jorritfolmer commented on #27
Good news! It seems that the current master branch supports the Vyos exported Netflow v9! From your pcap I can see it contains MPLS labels, for which I've pushed a new commit a week ago.
This is the debug output from one of your netflow packets:

[code]

[2016-12-12 09:29] gjmoed commented on #54
@jorritfolmer, tnx for the script, nice hints, I need to replace much more though, various urls and other text. I doubt we need to be concerned with checksums though but I'll find out soon enough :-)

@adelbot, what are you trying to say, the zip contains a pcap, what is 'the problem'? :-)

[2016-12-14 11:42] sliddjur opened #58 "Netflow v9/IPFix from mikrotik routeros"
When using v9 on a mikrotik router, the ipv6 packets have huge amount of "in bytes". See picture.
![ipv6-netflow](https://cloud.githubusercontent.com/assets/10002057/21180647/4951a46c-c1fa-11e6-9001-04d778677ecc.PNG)

Can this be solved in the definitions file? I dont know if it is a mikrotik or logstash problem. I attached flow template for both v9 and ipfix.

Also, I am not getting ipfix working

[2016-12-14 22:58] gjmoed commented on #54
@jorritfolmer, ok, finally got to work on this a bit more; rebased, finished all code and tests, however, still need to anonymize the data and then account for changed outcomes in tests. This however should be fairly trivial. I do have a couple days off now though so expect my PR by coming Monday please. Hopefully you can hold any bigger changes/merges until then, hint hint :-) Tnx!

[2016-12-17 07:11] jorritfolmer commented on #54
Sure, thx for the update!

[2016-12-17 07:18] jorritfolmer commented on #58
Thanks for your pcap, very helpful!
I've replayed your pcap to the asr9k branch on my test vm, and found that the ipv6 flows look normal, i.e. no suspicious large in_bytes or in_pkts.

Could you verify on your end with the asr9k branch?
I'd do something like this to test it:

[code]

[2016-12-17 07:27] jorritfolmer commented on #57
I've pushed some commits to the asr9k branch to fix the issues above.
It appears the Cisco docs specify IPV6_FLOW_LABEL as 3 bytes, whereas the actual data templates emitted from an asr9k specify it as 4 bytes. This causes the template length doesn't fit errors.
For integer fields I've switched to using the specification In the templates instead of the Cisco specified ones.

This means with the mo

[2016-12-17 07:33] jorritfolmer commented on #54
@adelbot Hi thanks for your pcap. However it doesn't contain any templates emitted from the Netscaler. Could you try capturing a little longer? Your current pcap spans 20 seconds. 120 seconds would be better to make sure you also get the templates too.

[2016-12-17 08:44] gjmoed commented on #54
@adelbot, patience is a virtue, coming Monday :-)
btw, iirc, by default Netscalers export templates every 600 secs...

[2016-12-19 17:36] gjmoed commented on #54
@jorritfolmer, @adelbot, please see/review #60, Tnx

[2016-12-20 10:56] gjmoed commented on #54
@adelbot, according to spec, no, the templates dictate the fields in use for the data set. However, I can imagine we can introduce a simple switch for skipping 'empty' fields, though we'd have to think about consequences for logstash processing. Wonder what happens if you somehow do fields processing but the field doesn't even come in. Then again, guess you could also check for that in your proces

[2016-12-20 11:21] gjmoed commented on #54
There are various ways of trying to deal with the huge amounts of data, for instance something like this:
[code]
You get the idea ;-)

[2016-12-20 11:51] gjmoed commented on #54
Not sure what sorta timestamp you're looking for; there's the logstash '@timestamp' of course, and then depending on the netflow version and/or template in use, in the case of Netscalers for instance: flowStartMicroseconds and flowEndMicroseconds....

However, let me ask you this, what are you looking to accomplish? Reason I'm asking, don't count on the Netscaler sending flows in 'sequence' or pro

[2016-12-20 12:51] gjmoed commented on #54
"many logstash in"? As in, multiple netflow inputs from various devices? Use your imagination and either do further filtering based on origin or use the origin as part of the same filter. Note again though, I didn't find the aggregate plugin really perfect for this, though it's the one that comes closest to wanting to do something with the sequencing of flows. Thing is, the Netscaler information i

[2016-12-20 13:15] gjmoed commented on #54
If you look at the source :-)
[code]
Where the flowset.unix_sec comes from the Netflow PDU (v5, v9 and v10).
See [here](http://www.cisco.com/en/US/technologies/tk648/tk362/technologies_white_paper09186a00800a3db9.html) for example.

This timestamp can be different from the recorded flow start and/or flow end of course.

So to answer your question, it does come from your exporting device so it's no

[2016-12-20 14:05] gjmoed commented on #54
[code]
And then [here](https://en.wikipedia.org/wiki/ISO_8601) for the format.

However! You may have uncovered something weird, the output doesn't look quite right and may hint at a wrong divisor in use. The weird thing is, I never really bother either since I even took the same weird values into my spec testing for this :(
I'll have a closer look...

[2016-12-20 16:49] gjmoed commented on #54
Okay, finally got a chance to look into this some more. It's rather awkward since the above 'original' code was never going to work. I mention 'original' as I never touched these parts. And somehow the incorrect interpretation never got tripped because nobody ever stumbled upon any microsecond fields? Nor is there any spec testing for these ipfix microseond fields until I submitted my Netscaler pa

[2016-12-20 17:01] jorritfolmer commented on #54
Yes exactly and thanks for the analysis. That code was never covered by any rspec as we're rather light on IPFIX samples. Indeed the closest we get in the IPFIX tests is `systemInitTimeMilliseconds` or `flowStartMilliseconds`.

Thanks again for your continued contributions.

[2016-12-21 14:59] gjmoed commented on #54
@adelbot, @jorritfolmer, please see #61 which should hopefully fix things with the funky microseconds timestamps. Now the rspec test values make sense as well :-)

There's still some debate going around the interwebs though since Citrix may have messed up their implementation of the what should be an NTP timestamp. However, we better stick to the strict NTP timestamp interpretation and only have t

[2016-12-22 12:42] sliddjur opened #62 "Netflow from vmware vsphere - ipfix"
I am not able to get any netflow v10 - ipfix - data through logstash. It seems all flows can't match any template. I also don't know what "unsupported enterprise" in below log means.

- Version:
[code]

- Operating System:
[code]

- Config File (if you have sensitive info, please remove it):
[code]

- Sample Data:
From logstash log.
[code]

Capture with VMware vSphere flows + templates.
[vmware.zi

[2016-12-22 13:33] sliddjur commented on #58
@jorritfolmer yes it worked well. Now ipv6 in netflow 9 works well with routeros on your asr9k branch.

Allthough I am not getting any ipfix.
[code]
This is from ipfix + netflow9 from a mikrotik.
[ipfix.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/668818/ipfix.zip)

[2016-12-23 10:18] sliddjur commented on #28
@jorritfolmer Here are captured flows with template from vmware vsphere.

[vmware.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/670591/vmware.zip)

I'm also seeing [WARN ][logstash.codecs.netflow  ] Unsupported enterprise {:enterprise=>6876} in my log

I also made a netflow_definitions file for the flows. But I don't know if they're correct?

[code]

[2016-12-23 10:35] sliddjur commented on #62
Updated my config to this:

[code]

And my definitions file:

[code]

Still same result. Getting no flows through.

[2016-12-23 12:49] sliddjur commented on #62
I am not getting my netflow_definitions file to work.

[code]

So I created a new branch and edited the  `lib/logstash/codecs/netflow/ipfix.yaml ` file manually.

I added
[code]

Now I'm getting all flows through.

[2016-12-23 13:36] sliddjur commented on #58
The ipfix.yaml file has uint64

[code]

What happens when the template from eg routeros sends field 1 and 2 length 4 bytes?

[2016-12-24 05:13] rajutech76 opened #64 "logstash not working for Netfloow Version 9 flows"
Hi Team ,
During my testing it seems that logstah 5.1.1 is sending WARN message to process Netflow 9 messages
In my setup Netflow 5 version is working fine .
Any body knows root cases for this issue

My error message are given below

[2016-12-23T05:22:30,245][WARN ][logstash.codecs.netflow ] No matching template for flow id 256
[2016-12-23T05:22:30,267][WARN ][logstash.codecs.netflow ] Unsupported

[2016-12-25 09:01] jorritfolmer commented on #64
Hi never seen this issue before!
Can you attach your pcap so I can look at it?

[2016-12-25 10:03] jorritfolmer commented on #62
Thanks, I've merged your PR and added some rspec tests.

[2016-12-25 10:03] #62 closed

[2016-12-25 10:10] jorritfolmer commented on #28
Closing this issue.
With the most recent commits support for these fields has been added, although they are marked as `vmwareUnknown880` etc.

If someone obtains the proper field definitions from VMware, feel free to create a new issue or PR.

[2016-12-25 10:10] #28 closed

[2016-12-25 10:29] jorritfolmer commented on #54
@adelbot Yes UTC: https://tools.ietf.org/html/rfc7011#section-6.1.9.
Further reading from @gjmoeds commit: https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11047.
Closing this issue.

[2016-12-25 10:29] #54 closed

[2016-12-25 10:35] jorritfolmer commented on #58
Thanks for your pcap, very helpful.
I will look into it later though.

[2016-12-25 10:41] jorritfolmer commented on #46
I think your issue with "Template length doesn't fit cleanly into flowset" should be fixed with the most recent commits to the asr9k brach.

It isn't ready to be included into into master yet, as it changes the reference we use to decode templates. The issue is caused by ASR9k sending 3 bytes ipv6_flow_label, whereas the IPFIX standard defines it as 4 bytes. This causes the template length mismatc

[2016-12-25 14:08] jorritfolmer commented on #48
I've added basic support in the `yaf` branch.
Don't get too excited, because it won't handle the subtemplatelists (293)

So basically it handles a scenario where yaf was started without plugins like this:

[code]

[2016-12-25 14:58] jorritfolmer commented on #48
Codec crashes with `SystemStackError: stack level too deep` when consuming infix emitted from yaf run with `--plugin-name=/usr/local/lib/yaf/dpacketplugin.so`

[2016-12-26 04:04] rajutech76 commented on #64
Hi
Re
[0001.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/672505/0001.zip)

sending pcap .

[2017-01-03 20:41] ktims opened #65 "Crashes when template field length is zero (seen on Juniper SRX NF9)"
Note: Posted to the forum previously, got no activity: https://discuss.elastic.co/t/netflow-v9-crashes-on-options-data-from-juniper-srx/67424

logstash-codec-netflow-3.1.2 crashes reliably on NetFlow v9 data from Juniper SRX:
[code]

After some investigation I have discovered that this is due to the 'scope' field in the Options template having length zero. This causes BinData to instantiate a `Uin

[2017-01-06 13:00] guyboertje opened #66 "Fixes to prepare for Jruby 9K"
There are two invalid usages of the `next` keyword that Jruby 1.7 allowed but should not. JRuby 9K is a whole lot more compatible with CRuby v 2.3.0.

See https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/lib/logstash/codecs/netflow.rb#L303, 312 and 392.

In JRuby 1.7 the `next` in a case statement is handled like a return.

So to fix this for JRuby 9K one simply replaces `nex

[2017-01-06 16:43] #66 closed

[2017-01-06 16:47] jorritfolmer commented on #65
A .pcap would be really appreciated, you can email it to me privately.
I'd like to add it to our collection of expanding (spec) testcases, after fixing.
Obviously I'll anonymise the flow content and check if you're ok with the results.

[2017-01-06 16:48] jorritfolmer commented on #64
I'm a bit short on time, I'll take a look at it this weekend.

[2017-01-06 16:49] jorritfolmer commented on #58
I'll look into it this weekend.

[2017-01-06 17:01] guyboertje commented on #66
@jorritfolmer - Thanks for the fast response!!

[2017-01-06 18:26] ktims commented on #65
.pcap sent out-of-band

[2017-01-09 09:39] jorritfolmer commented on #65
Fixed in most recent commit to master!

[2017-01-23 03:21] 191801737 opened #67 "logstash-codec-netflow does not work as well"
hi
- Version: logstash 5.1.2
- Operating System: CentOS Linux release 7.3.1611 (Core)
- Config File (if you have sensitive info, please remove it):
input {
  udp {
    port => 9996
    codec => netflow {
      versions => [5, 9]
    }
    type => netflow
  }
}

output {
    elasticsearch {
        index => "logstash_netflow-%{+YYYY.MM.dd}"
    }
}
- Sample Data:
- Steps to Reproduce:
have someone

[2017-01-23 07:00] jorritfolmer commented on #67
It looks like the codec is receiving invalid or non-Netflow data. What device are you exporting Netflow from? Or perhaps there is a monitoring service polling your 9996/udp port?

[2017-01-23 07:30] jorritfolmer commented on #58
Ok found it!

It appears the Mikrotik IPFIX implementation uses the flow count as Length (in the Message Header) instead of the byte count. We depend on a correct declaration of length to decode any incoming packet. According to the [IPFIX RFC](https://tools.ietf.org/html/rfc7011#section-3.1):

Notice the `Length: 2` on the 3rd line from. For this particular packet it should be around 300 bytes:

[2017-01-23 08:28] jorritfolmer commented on #64
Thanks again for your pcap, and patience :)
Fixed in the most recent commit to master.
Can you confirm?

[2017-01-23 15:35] rajutech76 commented on #64
Thanks Jorrit ,
I will integrate lastet code base on my test env and will conform you.

On Mon, Jan 23, 2017 at 1:58 PM, Jorrit Folmer <notifications@github.com>
wrote:

[2017-02-06 08:29] jorritfolmer commented on #56
Docs have been updated. See [here](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-netflow.html)

[2017-02-06 08:29] #56 closed

[2017-02-06 08:30] jorritfolmer commented on #35
Docs have been updated. See [here](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-netflow.html)

[2017-02-06 08:30] #35 closed

[2017-02-06 08:36] jorritfolmer commented on #57
Is anyone using the asr9k branch? Should it be merged into the master branch?

[2017-02-06 08:37] #65 closed

[2017-02-06 08:39] jorritfolmer commented on #58
Is there a public Mikrotik bugtracker so we can keep track of this?

[2017-02-06 08:41] jorritfolmer commented on #46
Did you get a chance to test the asr9k branch for these "Template length doesn't fit"?

[2017-02-06 14:04] analogbyte commented on #57
@jorritfolmer We have been running from the asr9k branch in a semi-production environment with about 10 asr9k routers with no issues. I'd vote for a merge. Thank you again!

[2017-02-06 19:20] niempy commented on #57
@jorritfolmer same here! I also vote for a merge. Thanks!

[2017-02-07 20:36] ajrgrubbs opened #68 "Cannot read flow templates from cache file"
Logstash is unable to start with this plugin if `cache_save_path` is provided to the codec, and a valid cache file exists at that path.

- Version:
    - logstash-codec-netflow: v3.2.2
    - logstash: v5.2.0
- Operating System: Ubuntu 14.04.5
- Config File (if you have sensitive info, please remove it):
[code]

- Sample Data: You'll need a valid netflow template cache. I am unable to provide my ow

[2017-02-08 01:41] ajrgrubbs commented on #68
So it appears this is only due to a missing `require "json"` at the top of netflow.rb. I'm setting up a proper dev environment for this plugin, will verify and submit a proper pull request with the fix soonish.

[2017-02-10 10:23] #68 closed

[2017-02-10 11:34] gjmoed commented on #68
Hey guys, so I created that caching feature and now I'm a bit puzzled by your findings. Very possible something changed with newer logstash versions of course but if I recall correctly, one should always use the logstash/json in favor of the plain json. Should not need both, at least, that hasn't been the case before. So obviously this was posing a problem but now that you did setup a dev env to w

[2017-02-10 21:08] hhindlem commented on #46
Jorrit,

Sorry for the delay.

I still see the template length error message, but I have a feeling I
didn't install the asr9k branch correctly.

I downloaded the branch as a zip file, unzipped it, cd'd into the top-level
where the readme file sits, then I did a 'logstash-plugin install
--no-verify.  I got an 'installed' output message.

But when I went to the /.../logstash/... codec directory, I s

[2017-02-11 09:21] jorritfolmer commented on #46
Ok this is what I usually do:

1. systemctl stop logstash

1. edit /usr/share/logstash/Gemfile, find the line that contains the logstash-codec-netflow and specify the path you test with, so you can do git clone outsite of the Logstash install:

[code]

1.  `cd /home/jfolmer`
`git clone https://github.com/logstash-plugins/logstash-codec-netflow.git`

This gets you a logstash-codec-netflow directory

[2017-02-12 14:15] hhindlem commented on #46
Jorrit,

I ran with your asr9k code for 5 hours and didn't see the length error.
Normally, I'd see the error at least every 2 hours or so.  So it looks like
you've fixed the problem.

Thanks again for your help.

-Henry

On Sat, Feb 11, 2017 at 4:21 AM, Jorrit Folmer <notifications@github.com>
wrote:

[2017-02-12 17:01] jorritfolmer commented on #57
Merged

[2017-02-12 17:01] #57 closed

[2017-02-12 17:02] jorritfolmer commented on #46
Merged asr9k into master.

[2017-02-12 17:02] #46 closed

[2017-02-12 17:03] jorritfolmer commented on #27
Is this still an issue?

[2017-02-13 15:39] ajrgrubbs commented on #68
The tests actually were already using `require "json"` themselves for de/serialization. Not surprising that if something changed in logstash/json to prevent this from working anymore, the tests didn't catch it.

[2017-02-13 16:18] gjmoed commented on #68
ah! Excellent observation, tnx for that. Next chance I get I'll test both ways and see what happens. As mentioned, it feels awkward having to require both logstash/json as well as plain json. Just maybe this is a simple jruby vs mri challenge ;-)

[2017-02-25 11:58] analogbyte opened #71 "Netflow v9 is parsed incorrectly for IOS XR devices with a version >= 5.x"
After @jorritfolmer closed #57 (thanks again!) we've upgraded some of our routers to new versions, leading to the issue described here.

- Version: logstash 5.2.1, logstash-codec-netflow 3.3.0 from logstash-plugin installation
- Operating System: CentOS 7.3.1611
- Config File (if you have sensitive info, please remove it):
[code]
- Sample Data: can be transmitted privately
- Steps to Reproduce:
1.

[2017-02-26 16:19] jorritfolmer commented on #71
Can you send the pcap? I've fixed some padding issues in the nbar branch, perhaps there are other padding issues we havent run into before.

[2017-02-26 16:50] analogbyte commented on #71
Done. Should I try the nbar branch tomorrow or are those unrelated fixes?

[2017-02-27 06:35] jorritfolmer commented on #71
Unrelated probably.

I replayed your pcap, but I don't get any bogus flows with the current master branch.
Do you use the new caching template caching feature? Perhaps this causes new flowsets to be decoded by the old templates, at most temporarily. This would require the old and new templates to be identical in size, but with rearranged fields.

Another possibility is that you're hitting one of t

[2017-02-27 10:05] analogbyte commented on #71
I do not think we're using the template caching? Is it enabled by default? Still, the effects we're seeing do not seem temorarily.

Your second guess sound reasonable, but how come it's always the v5+ data that is parsed badly, but never the v4 data? It should be the other way round occasionally when restarting the logstash service? This means, we will we try to move our v5+ routers to a separate

[2017-02-27 10:32] jorritfolmer commented on #71
Hmm yes you would expect the behaviour to change after restart.

Looking at your pcap again, I only see 1 source. Is that because of NAT, or because you only captured 1 source? Since I don't get bogus data from that flow, it would suggest multiple-sources-using-different-templates-with-the-same-id-bug.
To understand what's really happening, I'd have to look at a pcap with Netflow traffic from both

[2017-02-27 10:57] analogbyte commented on #71
I only captured one affected source (the one with the highest rate of bogus packets). I'll send you a full dump in a minute. Okay, I will test with multiple instances later this week, maybe even tomorrow.

[2017-02-28 16:51] jorritfolmer commented on #71
Thanks for the pcaps.
It seems you're experiencing the same symptoms as issues #9 and #21:
- router A sends template id 260 with source 2177
- router B sends template id 260 with source 2177

Result: netflow codec can't distinguish between router A and B based on netflow data alone.

This will be fixed when we move to logstash-input-netflow, which does have access to socket information like source

[2017-03-01 06:14] ashishbkadam commented on #27
Hi , i got similar issue for VyOS netflow version 9. Its working fine with version 5.
I am using latest version of logstash 5.2 and logstash-codec-netflow updated to latest 3.3 , still issue remains. VyOS version 1.1.7

I am getting following log in logstash

{:timestamp=>"2017-02-27T17:02:19.739000+0000", :message=>"Invalid netflow packet received (value '14' not as expected for obj.records[5].fl

[2017-03-01 09:02] fi-ro opened #72 "Netflow v9/ipfix: No matching template for flow id 257/258"
Hi,
I am running into issues when importing flows via logstash into elasticsearch.
The messages are:

[code]
My logstash config is:
[code]

In the web I found similar issues for other flow id, but no applicable solution.
The flow are coming from an [cento ](http://www.ntop.org/products/netflow/nprobe-cento/ )instance. The issues are the same running netflow v9 or ipfix.
Is there a way to add the m

[2017-03-01 09:31] jorritfolmer commented on #72
Can you send a pcap? 60 seconds of Netflow traffic will do usually.

[2017-03-01 09:37] jorritfolmer commented on #27
Ah found it. The same symptoms appeared when implementing support for Cisco NBAR.
This has been fixed very recently. I've just pulled the nbar branch into master.

Can you try the current master branch?
If I replay your pcap (thanks btw!) it now decodes properly, e.g.:

[code]

[2017-03-01 09:38] jorritfolmer commented on #58
Any news from Mikrotik on this bug?

[2017-03-01 12:31] ashishbkadam commented on #27
@jorritfolmer ,Thanks it worked :)

[2017-03-01 14:01] fi-ro commented on #72
I'll try to prepare a pcap file for you. I have to anonymize the flows and am currently looking for tools to do that.

[2017-03-02 07:25] sliddjur commented on #72
@fi-ro https://wiki.wireshark.org/Tools#Capture_file_anonymization I used tracewrangler with great success

[2017-03-03 13:58] fi-ro commented on #72
sliddjur: thanks, but tracewrangler sig-faulted on my machine...that was more complicated than I thought.
@jorritfolmer: do you have an email where I can send you the pcap (~30MB)?

[2017-03-13 07:58] rajutech76 commented on #64
Hi Jorrit,
sorry for the delay ,.Due to other high priority activities I am not able to verify the fix .
whether fix is avilable in logstash 5.2.1 . In 5.2.1 I am facing same issue again .

[2017-03-13T13:18:41,700][WARN ][logstash.codecs.netflow  ] Unsupported field {:type=>0, :length=>0}
[2017-03-13T13:18:41,712][WARN ][logstash.codecs.netflow  ] Unsupported field {:type=>0, :length=>0}
[2017-03

[2017-03-15 14:31] jorritfolmer commented on #72
Yeah should be no problem, email in profile.

[2017-03-15 14:43] jorritfolmer commented on #64
I've just released v3.4.0, so you can use the regular channels to update the plugin:

[code]

[2017-03-15 14:44] #27 closed

[2017-03-17 08:54] borjam opened #74 "IP addresses appear as "string fields""
It's either a bug or something is missing in the documentation.

Running Elasticsearch 5.2.2, Logstash 5.2.2, Kibana 5.2.2.

Logstash config:
input {
        udp {
                host => "192.168.1.202"
                port => 2072
                codec => netflow {
                        versions => [5]
                        target => netflow
                        cache_save_path => "/tmp"

[2017-03-17 11:49] iJanki opened #75 "No matching template for flow id 258"
I'm using version 3.4.0

I've seen this reported before but together with other issues. I just get the following warnings:

[code]

I'm not sure what it means. The entries that get accepted look like this, they all have flowset_id = 260:

[code]

[2017-03-17 15:47] ajrgrubbs commented on #75
So I believe that the way Netflow works is it should send out "templates" as part of the flow at some regular interval. They tell the Netflow consumer (aka this codec plugin) how to read other incoming data. For the Netflow I personally use, this "update" appears to happen once every 20 minutes or so. After the update happens the messages go away. Try letting it run for a while and see what happen

[2017-03-17 16:09] iJanki commented on #75
Thanks for the reply, I don't know much about netflow.
However we kept it running for several hours and the issue has not fixed.
The netflow data is actually coming from a different sources, and not having the source IP available to the codec makes it hard to debug which devices are failing sending templates.

I'm using the cache file as well. No trace of the missing IDs after a couple of hours.

[2017-03-17 16:37] ajrgrubbs commented on #75
Gotcha. Also not a Netflow expert here - so at this point I don't have much better suggestions than to check out what more logging can tell you. You can [enable debug logging](https://www.elastic.co/guide/en/logstash/current/logging.html#_logging_apis) on the plugin. In the past when dealing with my own (self-inflicted) bugs I've also found it handy to just go directly into the plugin's source and

[2017-03-17 16:52] iJanki commented on #75
Thanks, we hacked udp input plugin to pass metadata info, so we got the source IPs at least for now...

[2017-03-27 15:13] WolfangAukang opened #76 "No matching template for flow id 256 and 257"
- Version: Logstash 5.2.2/logstash-codec-netflow 3.4.0
- Operating System: RHEL 6
- Config File:
[code]

- Steps to Reproduce:
Start Logstash
View the logs
Receive the following warnings repeatedly:
[code]
And sometimes, those message appears:
[code]

What can be done in this case? Or how can I debug this error?

Just in case, the Netflow codec works fine. I just need to check how to fix that issu

[2017-04-26 13:30] jorritfolmer commented on #76
You could try to capture a pcap with the netflow traffic so I can take a look at it. The last 2 errors look like a bug.  What device are you exporting netflow from?

[2017-04-26 13:35] jorritfolmer commented on #75
Did the metadata hack in the udp input fix things?

[2017-04-26 13:40] jorritfolmer commented on #74
This looks more like an Elasticsearch issue to me. I believe you should tell Elasticsearch to map these fields to ip type. Logstash doesn't have any role in this, it just supplies keys and values to ES.

[2017-04-26 14:10] iJanki commented on #75
No it didn't fix the problem. Then we stopped using this plugin as it wasn't performant enough as a nprobe collector cause it processes 1 event at a time. The udp socket was losing packets heavily for our kind of traffic.

[2017-04-26 14:43] jorritfolmer commented on #75
Yes plus there seem to be a multithreading issue, see #53.
If I only had time :)

[2017-05-04 16:05] amirgohar-AG commented on #76
seeing same issue with VYATTA 5400, below is the discussion on this:

https://discuss.elastic.co/t/netflow-support-for-brocade-vyatta-routers/83547

here are my logs:
http://dpaste.com/1YCGDTM

i wasn't able to find anything with tshark as well like what fields are the culprit which is causing this issue

[2017-05-07 16:49] WolfangAukang commented on #76
Thanks for the help @jorritfolmer

It seems that the Juniper router that is giving those issues is not supported by your codec. I don't know if you still interested to see the pcap (I can send it by email because there is a lot of flow going on).

[2017-05-07 17:20] jorritfolmer commented on #76
Yes sure no problem, send me the pcap! Email is in my profile.
Do you have more information about the router model and/or Junos version numbers?

[2017-05-07 17:31] WolfangAukang commented on #76
I will surely send it to you tomorrow and get the information you asked! The people in charge of administrating that have only given me the router model.

[2017-05-25 14:24] pmatv commented on #76
Hello,
I have same issue:
[code]

Version: Logstash 5.4.0/logstash-codec-netflow 3.4.0
Device: Cisco ASA 5515/IOS 9.6(2)

I've attached pcap file:
[asa.pcap.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/1029260/asa.pcap.zip)

Thanks in advance!
Regards,
Petro

[2017-05-31 13:00] jorritfolmer commented on #76
Hi @pmatv your pcap doesn't contain any template records.
These are sent periodically by the ASA, and are necessary to decode the netflow data.

The current pcap spans 9 seconds, which is too short to also capture template packets.
2 minutes would be fine.

[2017-05-31 13:47] WolfangAukang commented on #76
@jorritfolmer Excuse me, I totally forgot to send you the pcap for size issues. I can't find your email though

[2017-05-31 14:55] jorritfolmer commented on #76
Thanks both!

[2017-06-01 13:06] jorritfolmer commented on #76
@pmatv Can you check if the most recent commit to master fixes things?

[2017-06-01 15:00] pmatv commented on #76
@jorritfolmer Unfortunately it didn't help. I already tried previously to add 298,299 fields in custom file but no success.

[2017-06-01 15:10] pmatv commented on #76
@jorritfolmer I am going to make full trace including some events. Afterwards will send to you (if you don't mind of course) with detailed description.

[2017-06-01 16:17] jorritfolmer commented on #76
@pmatv This is a decoded sample of what I get with your pcaps and the current master branch:

[code]

[2017-06-02 13:28] jorritfolmer commented on #76
@WolfangAukang I think you're experiencing similar issues to issue #9, issue #21.
Quick summary: Whenever 2 netflow exporters have different template layouts but share the same template_id, only one of them can be decoded.
For example if you filter your pcap in Wireshark with `cflow.template_id==256`, you see a lot of different netflow exporters all exporting with the same template_id. This is no

[2017-06-02 13:41] WolfangAukang commented on #76
Alright, I will try workaround 1. Workaround 2 isn't factible for now. Would this be solved in logstash-input-netflow?

[2017-06-07 11:56] michalterbert opened #77 "Netflow v5 is not parsed correctly"
Hi!

I'm still using logstash 2.4.1 (with logstash-codec-netflow (2.1.1)) where events are correctly parsed:
[code]

But when I try to use the latest logstash 5.4.1 with logstash-codec-netflow 3.4.0, I have wrong parsed events, like this below:
[code]

As You can see I have issue with IP Address, timestamp fields - first_switched, last_switched and other :(

Configuration for both logstash is very

[2017-06-10 20:26] jorritfolmer commented on #77
Both times exactly the same device you're exporting Netflow from? This sort of thing should ortherwise have been caught by our rspec tests, we test against multiple netflow v5 samples.

Could you mail me a pcap with the netflow traffic so I can take a look whats going on?

[2017-06-10 20:31] jorritfolmer commented on #76
Did you get this hack working? Logstash-input instead of codec would indeed durably fix this.

[2017-06-12 14:19] WolfangAukang commented on #76
I adapted the code from the UDP plugin to make the hack work, but I'm still receiving the warning of "No matching template for flow id" on the logs, though

[2017-06-16 12:38] michalterbert commented on #77
Yes both times was exactly the same device. How to prepare pcap for you?

[2017-06-18 08:19] jorritfolmer commented on #77
On your logstash instance, leave this running for a couple of minutes.
Modify the interface and port to match your own environment:

`tcpdump -i eth0 -s 0 -w /tmp/netflow_issue_77.pcap udp and port 9995`

[2017-06-18 10:19] jorritfolmer commented on #76
Just to be sure, you did set the `metadata => true` for the udp port?

The no matching template warnings are normal for the first minute or so, per exporter.
There is something wrong if these warnings persist after that period.

[2017-06-19 13:50] WolfangAukang commented on #76
Yes, I have set it to true, but the logs are still sending the same warnings.

[2017-06-20 15:38] Devorkin opened #78 "No matching template for flow id 261"
- Version: Logstash 5.4.1/logstash-codec-netflow (3.4.0)
- Operating System: CentOS Linux release 7.3.1611
- Device which gathering Netflow data from: Cisco WLC 2504
- Device software version: 8.2.111.0
- Device Netflow version: 9

- Config
[code]

- Sample Data:
[code]
- Steps to Reproduce:
Start Logstash
View the logs
Receive the above warnings repeatedly

Using Wireshark with a Pcap file from T

[2017-06-21 18:08] jorritfolmer commented on #78
Can you send me the .pcap so I can take a look? Email in profile.

[2017-06-21 18:20] Devorkin commented on #78
The email has been sent.

[2017-06-23 18:33] #78 closed

[2017-06-26 10:46] brasaoud opened #79 "ASR 1000 Netflow v9 template issue"
Hello

I have some issues with logstash Netflow codec and Cisco ASR 1000.
I think that logstash is not able to create templates when it receives template record packets.

I have in logs the following messages :
[2017-06-26T12:38:56,622][WARN ][logstash.codecs.netflow  ] Unsupported field in template 275 {:type=>359, :length=>8}
[2017-06-26T12:38:56,988][WARN ][logstash.codecs.netflow  ] No matchin

[2017-06-29 11:36] jorritfolmer commented on #79
Can you send me a .pcap so I can fix this?

[2017-06-29 20:49] brasaoud commented on #79
Thanks for your comment.
In the meanwhile i figure out how to solve the issue.
I had to declare all specific templates and fields size and names generated by Cisco routers.
I did it in netflow.yaml and ipfix.yaml with Pen=9.

[2017-06-29 20:49] #79 closed

[2017-07-11 17:37] jeremyforan opened #80 "When the plugin tries to save the IPFIX (netflow v10) it fails if it doesn't have the proper permissions"
Everything seems to be working fine until the first template comes in and it seems to crash.  I suspect it may be an issue with the permissions of the file.  I have changed the permission of the template file to "chmod 777" and it seems to have resolved the issue.  It may be beneficial to add a permissions check on the file to ensure this doesn't happen during production.

- Version:
      Logstas

[2017-07-18 11:29] jorritfolmer commented on #80
Thanks for the suggestion to add a permissions check!

[2017-07-18 11:51] #80 closed

[2017-07-18 20:04] bruberg opened #81 "IP address distortion with Mikrotik and IPFIX when enabling SrcNAT and DstNAT"
Using a Mikrotik unit, RouterOS 6.39.2, configured with IPFIX, everything works fine with a limited number of fields being shipped. However, when activating what Mikrotik refers to as "NAT Src Address" and "NAT Dst Address", IP addresses and other fields in netflow records are randomly being heavily distorted.

I see that bug reports to Mikrotik has been mentioned previously, but I don't see what

[2017-07-18 20:47] jorritfolmer commented on #81
You can mail me the pcap, I'll take a look at it.
My email is in my profile.

[2017-07-18 20:48] jorritfolmer commented on #77
Did you manage to prepare the pcap?

[2017-07-19 18:27] jorritfolmer commented on #81
Thanks for you pcap!
I'm unable to reproduce the behaviour you describe with your pcap.
My setup is similar to yours (Logstash 5.5, logstash-codec-netflow 3.5.1.

Can you try looking directly at the output from Logstash? That way we can rule out Elasticsearch/Kibana. For example with something like this in the output?

[code]

Other ideas:

- Do you have multiple mikrotiks running with slightly di

[2017-07-19 18:29] jorritfolmer commented on #67
Any update on this?

[2017-07-19 18:37] jorritfolmer commented on #72
Any update on this?

[2017-07-19 18:38] #74 closed

[2017-07-19 18:39] jorritfolmer commented on #64
Any update on this?

[2017-07-19 18:56] jorritfolmer commented on #75
I've been doing some performance testing on the netflow codec lately, and decoding tops at around 3000 flows per second with 2 UDP workers and 2 CPU's, with 0 loss.

Exporting more than 3000 flows per second to this setup results in losses at the udp socket.
Although increasing the `queue_size` at the udp plugin does help smooth losses by queueing more.

Even though you switched collectors, can yo

[2017-07-19 18:59] #47 closed

[2017-07-19 19:57] bruberg commented on #81
You are most likely on to something. I have two routers feeding the unit with IPFIX data, of which one had the NAT fields activated and the other had not. I activated the NAT fields on both and the problems seems to have disappeared.

After reactivating the NAT fields on one and disabling on the other, the debug file clearly showed some distorted entries, like this one:

[code]

From this I think

[2017-07-19 23:28] untergeek opened #82 "Unary vs Binary operator warning"
Thankfully, it appears that Ruby is doing the Right Thing™:

[code]

[Line 208](https://github.com/logstash-plugins/logstash-codec-netflow/blob/v3.5.1/lib/logstash/codecs/netflow/util.rb#L208):

[code]

To fix the warning, the proposed change is for the last `-2` to be `- 2`

[2017-07-19 23:34] jordansissel commented on #82
https://github.com/logstash-plugins/logstash-codec-netflow/commit/59f65f87e5633c0c1239bc684bc85c7044ef1ea2

I accidentally committed this directly in Github's `edit` feature which defaults to commit instead of a PR. My bad.

[2017-07-19 23:53] jordansissel commented on #82
Closing assuming my commit fixed it.

[2017-07-19 23:53] #82 closed

[2017-07-20 01:33] 191801737 commented on #67
i have solved the problem  thinks

[2017-07-20 01:33] #67 closed

[2017-07-20 18:20] iJanki commented on #75
In our case we need to process more than 30000 flows per seconds, I'm not sure if that could be useful.

[2017-07-21 07:47] jorritfolmer opened #83 "Current status of IPFIX RFC compliance"
| RFC       | Level                                        |
|-----------|----------------------------------------------|
| RFC 7011  | 47% of RFC "MUST" requirements implemented   |
| RFC 7011  | 19% of RFC "SHOULD" requirements implemented |
| RFC 7012  | 83% of IE data types supported
| RFC 7012  | 90% of IEs supported

Details tracked in [IPFIX RFC compliance](https://github.com/logstash-plugi

[2017-07-21 12:10] jorritfolmer opened #84 "Current status of Netflow v9 RFC compliance"
v3.5.1:

| RFC       | Level                                        |
|-----------|----------------------------------------------|
| RFC 3954  | 100% of RFC "MUST" requirements implemented  |
| RFC 3954  | 0% of RFC "SHOULD" requirements implemented  |
| RFC 3954  | 83% of IEs 1-127 supported                   |
| RFC 3954  | 10% of IEs 127-32768 supported               |

Details tracked in [Netf

[2017-07-25 21:11] nameraj commented on #64
I have same issue. it is not working. I have upgraded logstash-codec-netflow to 3.5.1

[2017-07-26 07:09] jorritfolmer commented on #64
There must be another issue then. After the fix, I'm not able to reproduce the error by replaying the .pcap provided by @rajutech76.

@nameraj can you provide a pcap with 2 minutes of Netflow traffic?
Also, what device are you exporting from?

[2017-08-01 18:15] jasonkeller opened #85 "Processing performance issue"
I have an issue where logstash is unable to process more than 3000 events/s of Netflow traffic (around 6.5 Mbit/s); it's currently dropping at least 200 UDP datagrams every second.  CPU usage is anywhere from 86-92% across all cores.

More detail on this thread...
https://discuss.elastic.co/t/netflow-high-cpu-utilization-and-poor-throughput/94854

- Version: logstash-codec-netflow-3.4.1
- Operatin

[2017-08-01 20:19] jorritfolmer commented on #85
By 3000 events/sec you mean 3000 UDP packets per sec?
Assuming 20 flows per packet, this means 60000 flows per second from you PA.

I haven't been able to benchmark beyond a 2 core laptop setup myself, but adding your Xeon E5 v4 the scaling looks pretty good to me:

| CPU | vCPU's | flows/sec
|---|----|----|
|i7 | 1 | 1840|
|i7 |2 | 3040|
|E5-2698|8 | 60000

This looks like you should try extendin

[2017-08-01 20:55] jasonkeller commented on #85
Currently I see around 163965672 records in a 24hr Elasticsearch index (which gives me roughly 1898 per second, sorry my last estimate was off).  Which shocked me why I'm seeing such low processing rates (by your numbers it's like I have a single vCPU!).  From the numbers I'm seeing in `netstat -suna 1` I'm dropping roughly 198 UDP packets/s, assuming 20/packet means potentially 3/5 of my flows on

[2017-08-02 10:11] jorritfolmer commented on #85
To mitigate dropped UDP packets, it seems that the max socket receive buffer is the single most important parameter to increase:

[code]

And having the UDP socket allocate that too:

[code]

Packets will still be lost if the rate at which new packets fill this buffer exceeds the rate at which it can be emptied.

The rate at which the socket buffer can be emptied seems to reach a max at around 630

[2017-08-02 12:59] jasonkeller commented on #85
Thanks @jorritfolmer ; this helped delay the packet loss for a couple minutes, but definitely my processing rate is falling far behind as `netstat -neopa | grep udp` confirms.

[code]

Instead of adding vCPU, I'm actually going to go the other way and cut it in half, as I suspect our vCPU > pCPU ratio is heavily oversubscribed (which may also help explain the wall you just hit in scaling in AWS as

[2017-08-02 13:56] jasonkeller commented on #85
So I've adjusted the vCPU downward in my current RHEL7 environment, however the queue still stacks up quickly and overwhelms it.  I'm actually now losing approximately 400+ UDP packets per second, all of them queue drops.

[code]
From a PCAP it appears that there are a grand total of 8 V9 flow records per UDP packet, with a template hitting every 20-22 packets.

[2017-08-02 14:22] jorritfolmer commented on #85
Here's my script:

[code]

[2017-08-02 15:36] jorritfolmer commented on #85
Does your processing rate improve if you remove the mutate filter and output to a file with json_lines?

[2017-08-02 20:20] jasonkeller commented on #85
What memory and heap settings are you using @jorritfolmer?  My scaling from 4vCPU (1050 f/s) to 8vCPU (1930 f/s) is pretty dismal (with a single core, you're almost getting what I'm getting with 8!).  I've now tried increasing memory and heap within the VM as well (2 GB mem 1GB heap > 4GB mem 2GB heap), without effect.

I'm still trying to get your script decoded and placed into a clean environmen

[2017-08-02 20:31] jasonkeller commented on #85
Unfortunately doing a null output and/or removing the filter have zero appreciable impact.

[2017-08-02 20:51] jorritfolmer commented on #85
Weird. Except for the receive buffers and workers I haven't modified anything.

* jvm.options is default, grep -v ^# jvm.options gives:
[code]
* logstash.yml is unmodified, grep -v ^# logstash.yml gives:
[code]

For testing I used this conf, and the sysctl setting:

[code]

The VM on my laptop has 2G and 4 vCPU
The AWS box had 30G and 16 vCPU's.

[2017-08-02 21:27] jasonkeller commented on #85
Strange indeed; at stock heap settings I'm hitting an absolute wall at around 1100 flows/s, whether I have workers on 6 or 8 (with 8vCPU).  Something funky with garbage collection?

[2017-08-02 21:45] jasonkeller commented on #85
Enlarging initial heap did increase the overall throughput to about 1620 flows/s with 6 workers.  I hit 1878 flows/s with 8 workers.  Enlarging it further seems to have no effect though.

[code]

[2017-08-03 07:36] jorritfolmer commented on #85
Java version? I'm on 1.8.0-openjdk-headless, the Red Hat provided rpms.

Perhaps the flows/sec metric is flawed, and we should consider using other metrics to better compare different environments, like:

- fields/sec: netflow_bench.py sends packets with 21 flows, with 26 fields per flow = 546 fields. Your PA sends packets with 8 flows, with an unknown number of fields. I'm assuming one of these f

[2017-08-03 11:50] Devorkin opened #86 "Template length doesn't fit cleanly into flowset AND No matching template for flow id 257"
- Version:  Logstash 5.5.1/logstash-codec-netflow (3.4.1)
- Operating System: CentOS Linux release 7.3.1611
- Device which gathering Netflow data from: Fortigate 100D
- Device software version: FortiOS 5.4.2
- Device Netflow version: 9
- Config
`input {
        udp {
                port    =>      9995
                codec   =>      netflow
                tags    =>      "netflow"
        }
}

[2017-08-03 14:04] jasonkeller commented on #85
Same here; Red Hat provided OpenJDK RPMs off our satellite
[code]
iftop registers anywhere from 4.8 to 6.2 Mbit on average coming from the PA firewall.

I'd love to share the packet capture, but unfortunately this is off of a production stream that I won't be able to post.  You are correct that there are two Palo Alto specific fields being exported (string), one is User-ID, the other is App-ID.  B

[2017-08-03 14:38] jasonkeller commented on #85
I attempted to disable the additional fields for User-ID and App-ID, and it bumped my processing rate only around 100 flows/s.   So it does not appear that the fields themselves are causing the performance issue.

[2017-08-03 16:16] jordansissel commented on #85
Are you sure the netflow codec is the bottleneck? There can be other places
logstash slows down (waiting on elasticsearch, other filters, etc).

As a first guess, maybe look at your elasticsearch cluster and see if it
needs more resources?

On Thu, Aug 3, 2017 at 7:38 AM Jason <notifications@github.com> wrote:

[2017-08-03 18:14] jasonkeller commented on #85
@jordansissel we did narrow it down to the netflow codec.  The filter was removed to no effect, as was the elasticsearch output.  Removing the netflow codec for just a plain UDP input it can ingest all UDP packets without issue with about 17% CPU usage.

Elasticsearch is verified that it is not under stress, and has an optimized time series template for aggregations without a ton of indexing (and

[2017-08-03 19:00] jasonkeller commented on #85
So I have an install in my clean room environment now.

- vSphere 6.5 5969303
- IBM HS23 (2x E5-2670, 96GB, 20 Gbit software iSCSI, all firmware up to date)
- VM (VM version 13, 8vCPU, 8GB RAM, 100GB thin-provisioned disk)
- An entire up-to-date ELKG stack is built onto it.

[code]
[code]
Without tweaks (other than buffers and workers => 6) , I get approximately 3200-3400 flows/s.  With tweaking t

[2017-08-03 20:13] jasonkeller commented on #85
Now here's something far more interesting...
![image](https://user-images.githubusercontent.com/21294728/28940942-faac3b4c-785b-11e7-8fe0-76187009939e.png)

So this was taken with again what we'll call "stock" settings (no changes to heap, just buffers and workers => 6).  Why the big difference (nearly 1000 flows/s more)?  vNUMA topology.

Normally vSphere will allocate all CPUs as individual 'soc

[2017-08-03 20:58] jasonkeller commented on #85
Just broke 6300 flows/s in the clean-room VM.
![image](https://user-images.githubusercontent.com/21294728/28943356-21170a16-7864-11e7-8de1-c448fd58ac1c.png)

Tuned as 1 socket 8 core per, with 6 workers, maxed out UDP buffers, and -Xms1g -Xmx1g set in jvm.options.  CPU usage is now 86-87% in the guest OS.

[2017-08-03 21:02] jordansissel commented on #85
This detail is lovely! I will review more this week and see if I can offer
any ideas.

On Thu, Aug 3, 2017 at 1:58 PM Jason <notifications@github.com> wrote:

[2017-08-04 13:13] jasonkeller commented on #85
Frustratingly enough, these tweaks did not make a single bit of difference in the production vSphere 6.0 environment under RHEL7...

![image](https://user-images.githubusercontent.com/21294728/28970079-c21f116e-78ec-11e7-8798-6bfe3c565cba.png)

[2017-08-06 12:08] jorritfolmer commented on #85
I've retested with a dedicated 40 CPU Amazon box (E5-2666 v3 2.9GHz).
Scaling is a lot better without noisy neighbours, like you suspected:

| vCPU | flows/sec
|-----|------
|1 | 2300
|2 | 4300
|4| 6700
|8|9100
|16| 15000
|32 | 16000

[2017-08-06 16:20] jasonkeller commented on #85
Wow you're hitting scaling numbers double what I can get even in my lab (your 4 vCPU numbers are where my 8 vCPU numbers are).  I'm at about 10800 with 32 vCPU across my two E5-2670s (so it's hitting HT) with 16x workers, current CPU usage in the guest is 70%.

I'm estimating that I'll be processing roughly 30k-50k flows per second in production.  Based on even your scaling numbers, I would need a

[2017-08-07 07:04] jorritfolmer commented on #75
It seems possible to get to 15000 flows/sec on a 16 core machine, see thread #85.
What collector are you currently using btw, and can you comment its performance?

[2017-08-07 07:33] jorritfolmer commented on #85
Yes good point, it seems 16 separate 1vCPU VM's will get you around 36k flows per sec, whereas a single 16 core box would only get you 15k.

The Amazon box was RHEL7 default, with nothing but the rmem_max  and receive_buffers set to 16M.

Optimizations: I'll have to dig into that later, currently I don't have any quick wins in mind though except profiling to get a better idea where most time is sp

[2017-08-07 10:12] ssmlt commented on #76
@WolfangAukang , could you please tell us, how exactly you've adapted the code/hack to meet present versions of logstash plugins?

[2017-08-07 11:38] jorritfolmer commented on #86
Ok found it: the application_id field (95) is treated as a fixed_size of 4 bytes by the codec, whereas the Cisco doc specifies it as a non-fixed 1+N bytes field.

You can try this quick and dirty fix, I'll look into a more durable solution:

[code]

[2017-08-07 14:22] WolfangAukang commented on #76
This is the whole code

[code]

[2017-08-07 15:48] jasonkeller commented on #85
After more testing (swapping JDK, disabling firewall etc, to no avail), instead of taking production netflow traffic in my production instance I put your script on it (which we've both been using in the lab environments).

![image](https://user-images.githubusercontent.com/21294728/29034169-07c0088c-7b5d-11e7-9c37-00dc8858c3fb.png)

Much to my surprise, this made a huge difference.  So using your

[2017-08-07 18:16] jasonkeller commented on #85
Even the debug logs look pretty bland at this point...

[code]

Miles and miles of that, but no 'smoking gun' so to speak.

[2017-08-07 19:25] jasonkeller commented on #85
I think I may have at least a hint of where the hangup is...

So this is a capture from your script..._loads 21 flows into a single flow set per packet._
[code]

This is from the Palo Alto..._loads a single flow into each of 8 different flow sets per packet._
[code]

The lack of bundling here is extraordinarily bad practice, and I'm ashamed I didn't catch on to it earlier.  I have a feeling there

[2017-08-08 18:13] jasonkeller commented on #85
I've opened up a case with Palo Alto support regarding their dubious packet structure - I will update when I get more information from them.

[2017-08-10 08:22] timmernet opened #87 "Missing fields, parsing errors"
Followed guide from https://github.com/robcowart/elastiflow/

Trying to get netflow data into elasticsearch from a Cisco ASA 5515 running v9.6.2

Missing fields in Elasticseach/Kibana, for example first_switched and last_switched.
Removed logstash filter for better readability of included logfiles.

[elasticsearch.log.txt](https://github.com/logstash-plugins/logstash-codec-netflow/files/1214123/el

[2017-08-12 13:13] jorritfolmer commented on #87
In your Logstash filters you should create some logic to normalize the various timestamp fields:

- first_switched
- last_switched
- event_time_msec
- flow_start_msec

Your flows contain event_time_msec and flow_start_msec instead of first_switched and last_switched

[2017-08-12 13:16] jorritfolmer commented on #87
I wasn't able to reproduce any parse errors based on your pcap.
Also your logstash-plain.log does not contain any warning or errors.

[2017-08-14 13:21] jasonkeller commented on #85
It appears that two of my input workers crashed over the weekend...

[code]

[code]

Any ideas?

[2017-08-14 22:00] jasonkeller commented on #85
Slightly OT, but still performance related...even with a nearly identical OS (CentOS 7) I can essentially take your numbers below and cut them in 2/3 to 1/2 on an E5-2670.  I'm unable to account for the significant difference, even factoring in clock speed.

vCPU | flows/sec
-- | --
1 | 2300
2 | 4300
4 | 6700
8 | 9100
16 | 15000
32 | 16000

Perhaps a heavily utilized instruction in Logstash got si

[2017-08-17 06:49] jorritfolmer commented on #85
About the crash: the log looks incomplete, are you sure this is everything?
I can't make sense of it, even if this is the whole thing, sorry.

[2017-08-21 15:41] jasonkeller commented on #85
Unfortunately that was all the logs up to the point of crashing aside from the initial spurt of messages about not having a template (which occurred days before that).  Rather than restarting the service I've left it for this time, in which the remaining four inputs have not crashed.

I'm still waiting for Palo Alto to get back to me about their packet format.  It's been two weeks now...I'm not re

[2017-08-25 14:17] jasonkeller commented on #85
So Palo Alto has confirmed the issue with their Netflow packet structure, and currently it affects all of their firmware since Netflow support was first added.  They have introduced a feature request to have it rewritten for the next release (cannot be hotfixed).

[2017-09-01 20:57] PhaedrusTheGreek opened #88 "Persist netflow template to survive a config reload"
When config is reloaded (`-r` or otherwise), netflow data is missing until a template arrives again.  This is somewhat expected, however might be nice to persist the template to survive the reload.

[2017-09-04 07:21] jorritfolmer commented on #88
The `cache_save_path` option is probably what you're looking for, see https://www.elastic.co/guide/en/logstash/current/plugins-codecs-netflow.html#plugins-codecs-netflow-cache_save_path

[2017-09-04 07:24] #53 closed

[2017-09-04 07:25] #58 closed

[2017-09-04 07:25] #72 closed

[2017-09-04 07:26] #64 closed

[2017-09-04 07:27] #75 closed

[2017-09-04 07:27] #77 closed

[2017-09-04 07:28] #81 closed

[2017-09-04 07:29] #87 closed

[2017-09-04 07:51] jorritfolmer commented on #85
Thanks for the update! In the meantime: eb93b6010d5af63f8b20f998dc7f7ca575a498a1 and cabfae5fdcd973142afbf69a8e6e5d85ee20f837

[2017-09-06 22:14] WolfangAukang opened #89 "Issues when using logstash-filter-rest and logstash-netflow-codec together"
- Version: 3.4.1
- Operating System: Red Hat 7
- Config File (if you have sensitive info, please remove it):
[code]

- Steps to Reproduce:

1. Have a config file with rest filter plugin and other one with udp input plus netflow codec plugins
2. Restart Logstash
3. The Netflow input crashes with the following error:

[code]

[2017-09-11 18:12] jorritfolmer commented on #89
This doesn't seem to originate in the netflow codec.
It is tracked over at lucashenning/logstash-filter-rest/issues/31

[2017-09-11 18:12] #89 closed

[2017-09-11 18:12] #88 closed

[2017-09-11 18:14] jorritfolmer commented on #86
Did this quick fix work?

[2017-09-13 10:47] h-schwanbeck commented on #86
The patch worked for me, thanks a lot!

[2017-09-13 18:26] jasonkeller commented on #85
I've encountered the crash event again from an input worker, this time there may be a log of interest (the only log entry in the whole log file).

`[2017-09-08T13:22:22,837][ERROR][logstash.inputs.udp      ] 975012498.__file__(/usr/share/logstash/vendor/bundle/jruby/1.9/gems/bindata-2.4.1/lib/bindata/struct.rb:139)", "rubyjit.BinData::Struct$$do_read_1c4fd213e42dce2f793f696ded3811836a783d0a1975012

[2017-09-14 16:11] h-schwanbeck commented on #86
Hello again,

worked perfectly fine yesterday, but since 02:00am my ES log fills with a constant stream of stack traces.

org.elasticsearch.index.mapper.MapperParsingException: failed to parse [netflow.application_id]
	at org.elasticsearch.index.mapper.FieldMapper.parse(FieldMapper.java:298) ~[elasticsearch-5.6.0.jar:5.6.0]
	at org.elasticsearch.index.mapper.DocumentParser.parseObjectOrField(Docum

[2017-09-14 19:37] jorritfolmer commented on #86
It appears ES expects application_id to be a number, when in fact is is a string "20:53068615909376". There's probably some mapping in ES you can set to correct this.

[2017-09-16 09:17] jorritfolmer commented on #85
Kudos for being able to break the decoder setup. Repeatedly.
Solving this eventually means a better battle tested plugin.

How long has this been running before the crash? How static was this setup during this period? How many PA's did you point to this instance? Do they run different versions? Did you add a new exporter?

To a certain extent these questions mask my inability to provide a solution

[2017-09-17 09:40] robcowart opened #90 "logstash-codec-netflow 3.5.2 crashes when used with Logstash 6.0.0-beta2"
- Version: Logstash 6.0.0-beta2, logstash-codec-netflow 3.5.2

- Operating System: Centos 7 (3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux)

- Config File (if you have sensitive info, please remove it): Two pipelines running (using new multiple pipeline feature), one listening on 2055, the other on 9996. Config were the same...
[code]

- Sample Data:

[2017-09-18 11:49] jorritfolmer commented on #90
It looks like issue originates in the mac address parsing.
We have a number of known working pcaps with mac addresses in the test suite so I assume there is something weird going on in your netflows.

Can you provide a pcap sample? You can send it to my email (in profile).
One minute tcpdump is usually enough.

[2017-09-18 15:43] jasonkeller commented on #85
Seems like I can get a worker to crash in less than a day with the current setup.  There currently is only a single PA pointed at it as the current structure of PA Netflow packets is horrendous, as previously detailed.  Nothing had changed (at all) to the setup.  If my estimation is correct I'm currently dropping over 8000-10000 flows/s right now in the UDP buffer, so we do not lack for incoming m

[2017-09-19 09:49] jorritfolmer commented on #85
Victory! I've replicated a crash with 2 python stressors in 15 minutes.
It looks different from yours though:

[code]

[2017-09-19 12:26] jorritfolmer opened #91 "ConcurrencyError: Detected invalid array contents due to unsynchronized modifications with concurrent users"
This issue can be reproduced within 5 minutes with the following config and python stressor:

/etc/logstash/conf.d/logstash-netflow.conf:
[code]

netflow_stress_tpl.py:
[code]

within 5 minutes 7 workers exit with an exception on Logstash 5.5 with codec 3.5.2
[code]

[2017-09-19 12:32] jorritfolmer commented on #85
To keep it separate from the performance issue, I've created issue #91 to track the concurrency issue separately. I'm assuming your crashes are also related to this.

[2017-09-21 13:05] jasonkeller commented on #91
To attempt to simulate the other crash I'm getting, could you perhaps make a Python script to simulate traffic packets that look like this (current Palo Alto Netflow structure)?

[code]

I don't think my case has to do so much with template packets, but the fact that each and every packet has just one flow per flow set (and 8 flowsets per packet), all using the same template, which is abnormal to

[2017-09-21 19:59] jorritfolmer commented on #91
I really need pcap's for that.

[2017-09-27 15:30] jasonkeller commented on #91
How many packets do you need, and what's the best way to get them to you?  At best I will have to chop out the User-ID and App-ID fields to sanitize it appropriately (so you'll essentially just see RFC1918 addresses, which won't mean anything to anyone).

[2017-09-28 12:03] bluefangs opened #92 "Netflow v9 of a particular format fails to be parsed by logstash"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

**- Version:** Logstash version is 5.6.2. netflow-codec version: 3.5.2

**- Op

[2017-09-28 13:46] msansjr commented on #85
Hey, @jasonkeller, I was having trouble with netflow on my PA3020 also. 12 core wasn't enough to prevent losing packets.

I developed a go program that captures the packets (it's a little rough yet, but works), transforms them to JSON and sends it to logstash via the TCP input. If you are interested in this fix while the UDP input does not work, you may contact me.

New to github, so I don't know

[2017-09-28 14:42] jorritfolmer opened #93 "Status of support for Cisco High-Speed Logging (HSL)"
I've created a new "cisco-hsl" branch to add support for Cisco HSL.

However, I'm running into a structural issue:

* In template 284 both l4_src_port and l4_dest_port occur twice. This leads to a duplicate field definition error in the BinData library we use to process Netflow. This leads to dropping of the rest of the packet, which contains other templates. This leads to the inability to decode

[2017-09-28 14:45] jorritfolmer commented on #92
Thanks for the pcap!
I've fixed this is the most recent commit.
This will be in v3.6.0, released later today.

[2017-09-28 14:45] #92 closed

[2017-09-28 14:47] jorritfolmer commented on #86
@Devorkin I'll be releasing v3.6.0 later today that fixes the Fortigate issue.

[2017-09-28 14:47] #86 closed

[2017-09-28 14:48] jorritfolmer commented on #90
@robcowart Can you send me a pcap sample to I can look into this?

[2017-09-28 14:52] jorritfolmer commented on #85
@msansjr Cool idea!

[2017-09-28 14:53] jorritfolmer commented on #91
Only 2 packets:

- One template packet
- One data packet

[2017-09-28 15:43] robcowart commented on #90
I can’t get a pcap until I get off the road. I have been using the plugin for over a year with the same sources and without any issues. The issue didn’t show up until I started testing with Logstash 6.0.0-beta2. You would also need a much larger pcap, sometime it crashes in a couple hours, sometime in a couple days. So you will most likely need a constant stream for a longer period of time. I susp

[2017-09-28 16:57] bluefangs commented on #92
Thanks for the quick turnaround @jorritfolmer . For my knowledge prospective, may I know which part of the code was changed to accommodate this?

[2017-09-28 17:23] jorritfolmer commented on #90
Ah right, pcap won't help much then indeed.

You could try to use `workers => 1` in the UDP input, to eliminate any concurrency issues.
I suspect many difficult to reproduce issues stem from the fact we're don't handle concurrent access properly for the netflow templates.

[2017-09-28 17:26] robcowart commented on #90
That's interesting. Since 6.0.0 support multiple concurrent pipelines, I not only have multiple workers, I have multiple pipelines (listening on different ports). That could compound any concurrency issues.

[2017-09-28 17:28] jorritfolmer commented on #92
This is the commit: 01b447b87a7dd00ac4f11d93f3c3ca73bad165dc

Most important parts are the additions to netflow.yaml
And the ` when :application_id` at L479 of netflow.rb

[2017-09-28 20:25] jorritfolmer commented on #91
@jasonkeller I've added a quick commit (1ac96fed92e909368f0696b5351cdf5401ddc3c9) in the mutex branch that seems to work. I haven't seen a ConcurrencyError after a 15 minute run. Previously this was the case after 5 minutes tops.

I'm very curious if this quick fix helps with your nightly crashes.

[2017-09-28 20:26] jorritfolmer commented on #90
I've added a quick commit (1ac96fed92e909368f0696b5351cdf5401ddc3c9) in the mutex branch that seems to help with the reproducible concurrency error #91 we're having.

I'm very curious if this quick fix helps with your crashes.

[2017-09-29 12:48] jasonkeller commented on #91
How would I go about testing this?  I'll put it on the box and spin it around a few times.  Also I'll work on seeing if I can get a sanitary pcap I can share with the needed data.  How best to send it to you?

[2017-09-29 12:55] jasonkeller commented on #85
I appreciate that @msansjr ; right now I'm actually pursuing a fix with Palo Alto to get them to fix their packet structure to eliminate the errors outright.  If you want to call your SE and get an RFE escalated that would possibly add more weight to it and get them to move on it faster.  It can't be hotfixed, so it will have to be included in a newer point release.

[2017-09-29 13:04] msansjr commented on #85
Hummm... will do, but will continue to use my workaround. Last time we had to ask support for help, we discovered that their IPSEC implementation doesn't advertise it supports NAT Traversal if the tunnel is attached directly to a valid IP, only if we NAT'ed it to a loopback... Insane, but we gave up since we are acquiring a BigIP and are planning to move our VPNs to it....

I'll try to clean up my

[2017-09-29 13:31] jorritfolmer commented on #91
For testing I suggest you leave it running over the weekend with your regular load. If it usually show crashed inputworkers, but now not anymore I guess we're on to something!

Pcaps: email is in my profile.

[2017-09-29 18:00] jasonkeller commented on #91
Sorry @jorritfolmer I didn't realize you had pushed the patch directly to production yet.  I just updated and will kick over the process and let it burn over the weekend and see how it does.

[2017-09-29 19:16] jasonkeller commented on #91
I've got it running now.  As a side note, performance went up about 300 flows/s absent any other change.

[2017-09-30 09:37] jorritfolmer commented on #91
No havent put it in master, yet.
From my own testing I’d say performance suffers by -20%
Can you check to see if you’re using the stuff from the mutex commit?

[2017-10-02 12:16] HenryTheSir opened #94 "Citrix Netscaler: No templates for flowset-ids below 260"
- Version: logstash-codec-netflow (3.5.2) - also with 3.7.0
- Operating System: Ubuntu 16.04 LTS
- Config File (if you have sensitive info, please remove it):
`input {
  udp {
    host => "elks"
    port => 4739
    codec => netflow {
      versions => [10]
      target => ipfix
      cache_save_path => "/tmp/"
   }
   type => ipfix
  }
}
`
- Sample Data:
- Steps to Reproduce: Configure Citrix Net

[2017-10-02 18:19] jasonkeller commented on #91
Most ironically, while I haven't done any manual compilations or such (so I'm pretty sure I'm not actually running the mutex commit), thus far the plugin has been running full-out for 72 hrs now and I haven't lost a worker thread, whereas before it would on average crash at least one worker within a 24 hr period.

[2017-10-02 19:30] jorritfolmer commented on #94
If you can email me a pcap, I’ll take a look.

[2017-10-03 05:16] bluefangs commented on #92
@jorritfolmer  -

I was trying to install the latest version v3.6.0  I tried removing the current codec installation that I have (3.4.1). But when I reinstall, I still am having 3.4.1 How do I get the 3.6.0 version?

[code]

[2017-10-03 05:52] bluefangs commented on #92
@jorritfolmer  - I got a chance to test this today morning and it seems to be not working. I did the below to install the latest version. I've also attached the latest pcap file that I've tested it on.
[code]

[netflow.tar.gz](https://github.com/logstash-plugins/logstash-codec-netflow/files/1351253/netflow.tar.gz)

[2017-10-03 14:16] jasonkeller commented on #91
And now I've lost a UDP worker again.  How would I go about downloading/compiling the mutex commit into this instance?

[2017-10-03 16:13] jorritfolmer commented on #91
No compilation necessary.
Just look at 1ac96fed92e909368f0696b5351cdf5401ddc3c9 and directly edit the stuff in /usr/share/logstash/vendor/bundle/gems/1.9/logstash-codec-netflow/lib/logstash/codecs/netflow.rb and restart Logstash

[2017-10-04 05:27] bluefangs opened #95 "Codec ignores netflow records containing template + data"
- Version: **3.6.0**
- Operating System: **Ubuntu 16.04**
- Config File:  **All files pertaining to logstash config is located** [here](https://github.com/robcowart/elastiflow/tree/master/logstash).
- Sample data: **Attached pcap file**
- Steps to Reproduce:

This issue is on the back of https://github.com/logstash-plugins/logstash-codec-netflow/issues/92 which is now closed. Unfortunately, it has

[2017-10-04 11:28] bluefangs commented on #94
@jorritfolmer

I'm attaching a similar pcap file that contains both IDS (256 and 1024) I've also observed that the ones with id 256 are ignored while the id with 1024 get processed just fine. One difference I've noted is that I don't even get the log message that the OP has stated with id256 (can't yet decode flowset....)

@HenryTheSir  - Can you try to replay my attached pcap file to see if the i

[2017-10-04 20:59] jasonkeller commented on #91
Edited... `/usr/share/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-netflow-3.7.0/lib/logstash/codecs/netflow.rb` with above changes.

Just blows it up instantly...

[code]

[2017-10-05 11:05] HenryTheSir commented on #94
Hi @bluefangs , your problems seems quite different to mine.

@jorritfolmer : I send the .pcap to you.

[2017-10-06 05:44] #95 closed

[2017-10-06 05:45] bluefangs commented on #95
Closing this issue as we managed to find out a root cause.

[2017-10-06 11:53] marian-craciunescu commented on #94
@bluefangs  your template can be decoded because you have actually 2 unkown fields in the template.
Field 12 and 13
FIELD 12: Unkown (57590)  with length 2
FIELD 13: Unkown (57591)  with length 16

Any ideas what they are?
in order to fix your problem you need to add them in netflow.yaml

[2017-10-06 12:06] bluefangs commented on #94
@marian-craciunescu  - Those represent application-id and application-name. I think you can disregard the pcap I've provided in this case.

[2017-10-09 13:33] jorritfolmer commented on #91
Ok thx, I'll have to park this for now though

[2017-10-09 14:46] jorritfolmer commented on #94
@HenryTheSir Thanks for your pcap! I've looked at all the templates that the Netscaler emits, and it appears there are A LOT of fields we lack a definition for.

Do you have access to any documentation? A quick Google turns up empty...

These are the unknown fields:

In the Netscaler PEN 5951 we miss definitions of:
- field 358, length 4
- field 392, length 2
- field 403, length 1
- field 434, len

[2017-10-09 14:56] jorritfolmer commented on #94
And also lack these in PEN 5951:

- field 359, length 4
- field 364, length 4
- field 384, length 16
- field 400, length 2
- field 435, length 1
- field 452, length 8
- field 463, length 4
- field 475, length 65535
- field 488, length 4
- field 510, length 4
- field 511, length 4
- field 523, length 4
- field 532, length 8
- field 541, length 4

[2017-10-09 15:02] jorritfolmer commented on #94
And:

- field 360, length 4
- field 365, length 4
- field 380, length 1
- field 385, length 16
- field 388, length 1
- field 401, length 2
- field 452, length 8
- field 458, length 4
- field 466, length 4
- field 489, length 4
- field 507, length 4
- field 518, length 8
- field 533, length 8
field 537, length 2

[2017-10-09 15:09] jorritfolmer commented on #94
And:

- field 361, length 4
- field 366, length 8
- field 377, length 4
- field 386, length 65535
- field 399, length 4
- field 402, length 1
- field 447, length 4
- field 455, length 8
- field 459, length 4
- field 480, length 1
- field 493, length 8
- field 508, length 4
- field 519, length 8
- field 538, length 2

[2017-10-09 15:34] jorritfolmer commented on #94
No idea what these Netscaler guys have been smoking, but the list goes on and on.
I'm pretty sure there must be fields like:

- bytes sent on wednesday
- bytes sent on wednesday, but on a leap year.
- bytes sent on sunday, but only when it was raining

I've pushed a commit with the fields above (all netscalerUnknown).
This should at least let you decode the templates below 270.

[2017-10-10 06:39] HenryTheSir commented on #94
Hi @jorritfolmer ,

there is only the public available docu from citrix. But we could raise a case and hope to get more information.

One maybe silly question:

I changed my config ->    ipfix_definitions => "/tmp/ipfix_template.prepared"

And the  "/tmp/ipfix_template.prepared" contains a 1-1 copy of this file:
https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/lib/logstash/co

[2017-10-10 18:15] jorritfolmer commented on #94
No I don't think you made a mistake.
Flows using tempates in the rage 250-260 and 261-270 should now decode.

The unsupported warnings are most likely from the higher numbered templates, I stopped adding the fields yesterday. There are likely loads more. I'll add them when I have more time available.

[2017-10-11 11:38] PORN-FLAKES opened #99 "Redis plugin as input"
Hello, this is not an issue and more like a brainstorm question, but I doubt someone else would be able to answer this except the developers of this codec themselves. All the examples including this codec use UDP plugin as input and I was wondering could I use Redis plugin as input? To be honest I have written my own codec using yours as an example because in my case is we are not using Netflow bu

[2017-10-13 17:29] jorritfolmer commented on #99
For my understanding:

- you found a way to get the Huawei dataflow into redis
- are pulling these out of redis again with logstash-input-redis
- and want to decode them with your logstash-codec-huaweidataflow?

I would first find out where the difference is at in the packets you pull out of redis versus what goes into redis. Perhaps Redis considers the data to be finished after encountering the f

[2017-10-13 17:32] jorritfolmer commented on #95
Good to hear!
Can you share what you found out?

[2017-10-13 17:40] bluefangs commented on #95
There was no issue with the netflow records and templates as such. Infact it was [this](https://discuss.elastic.co/t/logstash-codec-netflow-does-not-accept-netflow-packets-coming-from-a-different-ip-subnet/102950)... which I still don't know why.

Once we managed to bring both the collector and logstach host under the same subnet, things started working. Would you happen to have any clue about thi

[2017-10-13 18:19] phixit commented on #95
Sounds like a problem I ran into before... If you have multiple interfaces and can see the packets coming in on one interface (tcpdump/wireshark), but you do not have a route back to the source on that interface, the packet is not passed down to application level.

You would expect since you are receive only and tcpdump can see it then the application can.
This has to do with the need to be able t

[2017-10-14 13:37] volga629 opened #100 "Help no output from netflow"
Hello Everyone,
As last resort I posting  request for help, because didn't found any  usable way find out where the issue lays out.

The problem I  see in DEBUG that netflow process the data from ASA and 0 zero errors in logs.  After that nothing is get processed. We tried json, plain file, elsaticsearch just nothing.

[code]
CONFIG

[code]

DEBUG LOG

[code]

TSHARK CAPTURE

[code]

[2017-10-17 09:35] jorritfolmer commented on #100
Hi can you mail me a pcap so I can look at it better?

[2017-10-17 11:27] volga629 commented on #100
Yes, sure what email address to use ?

[2017-10-18 13:39] MrBeast commented on #67
Hello.
I have a similar problem.
Logstash run in docker container.

logstash.conf:
input {
  udp {
    port => 5003
    type => "netflow"
    codec => netflow
  }
}

filter {}

output {
  if [type] == "netflow" {
    elasticsearch {
      hosts => [ "elk-cluster-es-master-1:9200","elk-cluster-es-master-2:9200","elk-cluster-es-master-3:9200" ]
      index => 'netflow-%{+YYYY.MM.dd}'
    }
  }
}

lo

[2017-10-18 21:08] VamPikmin opened #101 "Template length doesn't fit cleanly into flowset {:template_id=>257"
- Version: logstash-codec-netflow-3.5.2
logstash 5.6.3
- Operating System: Ubuntu 16.04
- Config File:
` input {
    udp {
tags => ["netflow"]
type => "netflow"
port => 5046
    codec => netflow {
		 versions => [9]
	         }
        }

 output {
     if [type] == "netflow" {
 	 elasticsearch { hosts => ["http://localhost:9200"] }
         stdout { codec => rubydebug }
         #file { path => "

[2017-10-19 02:06] 191801737 commented on #67
i suggest you to use packetbeat

[2017-10-19 06:23] jorritfolmer commented on #101
There have been some commits into the master branch that probably fix this issue.
Can you check if that is the case?

Steps:

1. `cd /home/you`
2. `git clone https://github.com/logstash-plugins/logstash-codec-netflow.git`
3. `vi /usr/share/logstash/Gemfile`
4. locate the line with `gem "logstash-codec-netflow" `
5. replace this line with `gem "logstash-codec-netflow", :path => "/home/you/logstash-

[2017-10-19 06:40] jorritfolmer commented on #100
It seems the ASA doesn't send anything except template records every minute.
So what you're seeing (nothing) is correct, because there is nothing for Logstash to process.

If this is a test ASA, you should try to send some traffic through it, so it starts exporting those flows.

[2017-10-19 07:55] JasonLZJ opened #102 "Can I use logstash-codec-netflow to analysis sflow data ？"
Netflow Can only be used on CISCO devices，I have some switch devices which can send sflow data.
logstash can do that? How to do that?

thanks

[2017-10-19 08:46] jorritfolmer commented on #102
Logstash-codec-netflow doesn't support sflow.

There was a logstash-codec-sflow some years back. I don't see it anymore on the Elastic site.
However, there appear to be some individual repositories available on Github.

[2017-10-19 08:57] untergeek commented on #102
softflowd captures similar data and sends it in netflow format.  I've used that on my routers.

[2017-10-19 11:52] JasonLZJ commented on #102
@untergeek Can sflowtool do the same thing?

[2017-10-19 12:00] JasonLZJ commented on #102
@jorritfolmer @untergeek Thank you very much. I need to do traffic analysis on devices from different vendors. Do you have any technical solutions?

[2017-10-19 22:31] VamPikmin commented on #101
Thank you kindly,
The template length error appears to be gone but I'm getting these in the log now:
[2017-10-20T09:12:28,841][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>nil, :_index=>"logstash-2017.10.19", :_type=>"netflow", :_routing=>nil}, 2017-10-19T22:12:46.000Z 192.168.199.1 %{message}], :response=>{"index"=>{"_inde

[2017-10-20 12:52] volga629 commented on #100
Hello Jorrit,
Thank you for all support. Data started to flow, the issue was in ASA licences.

[2017-10-20 12:52] #100 closed

[2017-10-21 06:15] jorritfolmer commented on #102
You could check out https://github.com/VerizonDigital/vflow

[2017-10-21 09:16] jorritfolmer commented on #100
Thanks, good to hear!

[2017-10-21 09:33] jorritfolmer commented on #101
The problem seems to be that Logstash sends an unsigned 64 bit value, while Elasticsearch expects a signed 64 bit value, which leaves a range of -2*63 to +2*63.

The expected value for a timestamp in msec would only yield a value of 1508578035000, which is 40 bit and expected to fit in a signed long. Even in nanoseconds it would only yield a 60 bit value.

Further questions that may lead you to a

[2017-10-24 17:11] broonu opened #103 "Problem with Juniper IPFIX"
This is a fresh install of ELK Stack 5.6.3, and I receive this errors in logstash-plain.log:

1) Can't (yet) decode flowset id 512 from observation domain id 0, because no template to decode it with has been received. This message will usually go away after 1 minute. (This is error is persistent for hours.)

2) Invalid netflow packet received (End of file reached)

[code]

However, the elasticsear

[2017-10-24 20:47] VamPikmin commented on #101
Thanks for that. I don't think I have enough understanding to figure it out on my own. Still fairly new to this, I have to spend time trying to learn the basics, the grok match statements as I've noticed most of mine result in _grokparsefailure even for syslog on Cisco switches. So I'm slowly trying to make sense of that first before I try to solve the issue here.
To stay on topic, the netflow stu

[2017-10-26 02:18] VamPikmin commented on #101
Here's a pcap if you get a chance to have a look
[netflow.pcap.tar.gz](https://github.com/logstash-plugins/logstash-codec-netflow/files/1416762/netflow.pcap.tar.gz)

[2017-10-26 17:05] zzurashvili opened #104 "Problem with Gigamon IPFIX"
I had logstash 5.2 getting netflow v9 successfully from gigamon but after I started exporting IPFix logstash started crashing as soon as It sees template. then I upgraded logstash to logstash-5.6.3 but issues remains.
This is what I'm getting
[2017-10-19T15:51:34,307][WARN ][logstash.codecs.netflow ] Can't (yet) decode flowset id 256 from observation domain id 131328, because no template to decode

[2017-10-27 15:35] andrewvc commented on #104
@zzurashvili do you have a clean way to replicate this? Is there a way you could record the netflow data and make a reproducible test case?

[2017-10-27 15:55] zzurashvili commented on #104
yes, I can easily replicate this. I'm attaching PCAP file (full data capture)
[ipfix.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/1422638/ipfix.zip)
 which shows all data coming on logstash collector. As soon it sees template (seq number 5 in pcap file) it crashes.

[2017-10-31 19:39] jorritfolmer commented on #104
Thanks for the pcap, I'll take a look.
Somewhere next week though.

[2017-11-06 15:11] hammerstefan opened #106 "Early flow packet loss when using input-tcp with codec-netflow"
Hi,  I am trying to use Logstash with input-tcp and codec-netflow plugin to receive IPFIX (netflow v10) from a device.

The device I am using that is generating the IPFIX data has the following behavior:

* The first time it is to send a data record, it opens a TCP connection to the IPFIX collector (Logstash)
* Once the TCP connection is established it sends all template records in the first IPFIX

[2017-11-11 08:28] jorritfolmer commented on #85
I'm closing this issue.
Summary: several documentation improvements have been added:

- recommending the use of a net.core.rmem_max sysctl setting over at the [netflow codec plugin page](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-netflow.html)
- including expected performance numbers at the same page

[2017-11-11 08:28] #85 closed

[2017-11-11 08:33] jorritfolmer commented on #71
I'm closing this issue to prevent duplicate issues from filling up the issue tracker.
Issues #9 and #21 will remain open to keep track of addressing the root cause.

[2017-11-11 08:33] #71 closed

[2017-11-11 08:34] jorritfolmer commented on #99
Closing due to lack of response.

[2017-11-11 08:34] #99 closed

[2017-11-11 08:35] jorritfolmer commented on #76
I'm closing this issue to prevent duplicate issues from filling up the issue tracker.
Issues #9 and #21 will remain open to keep track of addressing the root cause.

[2017-11-11 08:35] #76 closed

[2017-11-11 08:36] #102 closed

[2017-11-11 08:37] jorritfolmer commented on #90
Any update on this?

[2017-11-11 08:42] jorritfolmer commented on #103
Can you provide a .pcap via email (see my profile) so I can take a closer look at it?

[2017-11-11 09:07] jorritfolmer commented on #104
I'm not able to reproduce the issue with the pcap.
It decodes both template and following data packets fine.
Tried:

- logstash 5.5.0 with logstash-netflow-codec 3.7.0
- logstash 5.6.4 with logstash-codec-netflow 3.7.0 (most recent out-of-the-box)

How many gigamon devices are you exporting from?
Are they all the same version? There are issues with devices sharing the same template id but with sli

[2017-11-11 09:19] jorritfolmer commented on #106
Thanks for taking the time to draft such a detailed issue report! Like!

I think this issue can be attributed to the fact that we don't implement a "MAY" requirement from the IPFIX RFC. (See chapter 8 template management. The entire IPFIX RFC compliance is tracked in #83):

Currently we already don't implement a high number of MUST and SHOULD requirements, so this won't get much attention for the

[2017-11-11 09:21] jorritfolmer commented on #48
Closing due to lack of activity

[2017-11-11 09:21] #48 closed

[2017-11-11 12:50] robcowart commented on #90
I am waiting for GA of 6.0 before any further testing.

[2017-11-11 13:32] jorritfolmer commented on #90
Ah yes makes sense! Thanks for the update!

[2017-11-13 14:48] jasonkeller commented on #91
@jorritfolmer

Sorry this took so long.  Below is a sanitized PCAP from a test environment with a single template packet and a single data packet to help make a stress script to further isolate these crashes.

[test-pcap.zip](https://github.com/logstash-plugins/logstash-codec-netflow/files/1467249/test-pcap.zip)

[2017-11-13 16:28] zzurashvili commented on #104
Thanks for checking.
I'm using logstash 5.6.0 and logstash-codec-netflow 3.5.2 (I thought this was the newest one, could the be a problem?)
I'm exporting from 2 devices and they are both the same version.
I will test what happens when I start exporting from only 1.

[2017-11-14 15:34] PORN-FLAKES commented on #99
Sorry for the lack of response but basically I have figured out what was the problem. First, I was using rsyslog to push data to redis but even tho redis supports binary safe strings they have to be pushed in a specific way and rsyslog redis module just pushes binary data as simple string and that was causing packet corruption. Second, after I figured out the rsyslog issue by writing my own socket

[2017-11-15 13:44] zzurashvili commented on #104
I installed  logstash-codec-netflow-3.8.0 and started exporting from only one Gigamon device but issue remains.
[2017-11-15T08:43:55,073][WARN ][logstash.codecs.netflow  ] Can't (yet) decode flowset id 286 from observation domain id 131328, because no template to decode it with has been received. This message will usually go away after 1 minute.
[2017-11-15T08:43:55,814][ERROR][logstash.pipeline

[2017-11-15 13:54] zzurashvili commented on #104
removed old codecs completly, restarted logstash and started working.
thanks for the help

[2017-11-16 12:29] HenryTheSir commented on #94
Thanks import now is working!

[2017-11-19 13:38] jorritfolmer commented on #104
Good to hear, thanks for the update!

[2017-11-19 13:38] #104 closed

[2017-11-19 13:39] jorritfolmer commented on #94
Thanks for the update!

[2017-11-19 13:39] #94 closed

[2017-11-19 13:39] #106 closed

[2017-11-19 13:53] jorritfolmer commented on #101
I've just replayed your pcap to the current codec version.
It decodes without any problems.
The Elasticsearch issue is something unrelated to the working of the codec, so I'm closing this issue.

[2017-11-19 13:53] #101 closed

[2017-11-19 16:16] jorritfolmer commented on #91
Thanks for the pcap!
It appears to be equally effective at crashing Logstash as the non-PaloAlto packets in the stressor.

I'm feeling confident enough to include the mutex fix in the master branch.
The codec no longer crashes with both the original stressor and stressor based on your pcap.
Release v3.8.1 is currenlty out and available on rubygems, meaning you can use the regular logstash plugin c

[2017-11-19 16:32] jorritfolmer commented on #90
Update: [netflow_stress.py](https://github.com/logstash-plugins/logstash-codec-netflow/blob/master/spec/codecs/netflow_stress.py) reliably crashes Logstash with the same exceptions you were getting.
Within 1 minute.

We have a reliable reproducer, that I like.
What I don't like is the fact that the mutex patch I just merged into master doesn't fix it.
I'll look into it further, next weekend probab

[2017-11-19 16:45] robcowart commented on #90
Cool... glad you have a way to predictably reproduce it. I assume you tested against 6.0.0 and 5.x works fine in the same scenario. I have been using Logstash 5.x versions for Netflow for over a year. It was only with the 6.0.0-beta that I began to see issues. I am curious to learn what you discover.

[2017-11-20 05:51] jorritfolmer commented on #90
I've fixed some of the NilClass exceptions, even though I can't explain them based on the data going in. This is on 6.0.0. From the previous Github issues I can see some people encountering them occasionally, but they were never reproducible. Until 6.0.0.

Unfortunately they're not gone yet. I'm saving this here for a later time from last nights burn-in with netflow-stress.py, which started at 22:

[2017-11-20 14:09] jasonkeller commented on #91
Thanks @jorritfolmer !  I'm updating now and I'll let you know if I see any other aberrations.

[2017-11-21 03:16] andrewvc commented on #90
One theory, It's possible that some of this could be related to the upgrade to jruby 9k. Judging by some of those errors, this looks like a possible threadsafety issue. I'll look at the code in more depth tomorrow to see if I can spot the source.

[2017-11-21 03:21] andrewvc commented on #90
Looking at the current code it looks like there's a fair amount of work to do to make it actually threadsafe on first pass. The easy fix would be to synchronize all decoding with a mutex. I think this probably accounts for a lot of the weirdness.

I'm going to guess that perhaps something about the way 6.x runs just makes this happen more often, but it should have happened previously.

[2017-11-22 13:53] andrewvc commented on #90
I think https://github.com/logstash-plugins/logstash-codec-netflow/pull/107 should the issues reported here: https://github.com/logstash-plugins/logstash-codec-netflow/issues/90#issuecomment-345598226

[2017-11-22 13:58] marvinwankersteen opened #108 "Exception in inputworker: undefined method `each' for nil:NilClass"
**- Version:**
docker.elastic.co/logstash/logstash:5.6.4

**- Operating System:**
Debian 9

**- Config File:**
[code]

**- Steps to Reproduce:**
I don't no how to reproduce the error. We have running a logstash container on two different servers. Each server receives netflows from a Cisco Asa and the error appears every ~3 days on both logstash-containers but not at the same time. The servers are

[2017-11-22 20:39] jorritfolmer commented on #99
Thank for the details!

[2017-11-22 20:40] jorritfolmer commented on #108
Seems related to #90

[2017-11-23 20:14] #90 closed

[2017-11-23 20:24] jorritfolmer commented on #108
Thanks for reporting this issue.
Fixed in v3.8.3 (just released)

[2017-11-23 20:24] #108 closed

[2017-11-23 20:28] jorritfolmer commented on #21
I'm closing this issue because we already track it in #9

[2017-11-23 20:28] #21 closed

[2017-11-29 13:16] mwpv opened #109 "netflow codec doesn't seem to work with logstash 6.0.0"
I have opened a thread on the elastic.co forums on this issues, however was able to validate with my configuration that it seems 6.0.0 logstash is not able to be loaded using the latest netflow codec. I had validated with a few known working 2.1.0 netflow configuration files procured from the IRC channel, however these would not load as well in logstash 6.0.0 Upon downgrading to 6.0.0 I can succes

[2017-11-30 09:07] jorritfolmer commented on #109
Can you post the config?

[2017-11-30 09:07] jorritfolmer commented on #109
And any errors in the log.

[2017-11-30 09:08] jorritfolmer commented on #109
Or other stuff that will help in finding a root cause?

[2017-11-30 10:19] mwpv commented on #109
@jorritfolmer  thanks for your replay but somehow we solved it!

[2017-11-30 10:20] #109 closed

[2017-11-30 10:34] mwpv opened #110 "Problem with Sophos IPFIX"
This is a fresh install of ELK Stack 6.x.x, and I receive this errors in logstash-plain.log:

`[2017-11-30T11:27:11,235][WARN`` ][logstash.codecs.netflow  ] Can't (yet) decode flowset id 260 from observation domain id 1, because no template to decode it with has been received. This message will usually go away after 1 minute. `

The elasticsearch database can't be feeded as well but I have no prob

[2017-11-30 17:07] mwpv commented on #110
@jorritfolmer I check the [IPFIX Information Elements
](https://www.iana.org/assignments/ipfix/ipfix.xhtml)
  and the structure of netflow.yaml ist different from how IPFIX protocol should be proccessed.

[2017-12-01 11:17] #110 closed

[2017-12-01 15:21] jasonkeller commented on #91
@jorritfolmer possibly related...

https://discuss.elastic.co/t/netflow-codec-udp-input-worker-silently-crashes/109798

[2017-12-03 14:31] jorritfolmer commented on #91
3.8.3 should fix this

[2017-12-03 19:18] jorritfolmer commented on #93
It appears this duplicate field business also happens for IPFIX from Cisco ASR1k with IE 12235 for PEN 9.

[2017-12-04 09:53] szhong12 opened #111 "Can't (yet) decode flowset id 266 from source id 0, because no template to decode it with has been received. This message will usually go away after 1 minute"
Version: Logstash 6.0.0/logstash-codec-netflow 3.7.0
Operating System: Ubuntu16.04
Config File:
input {
    udp {
        port => 4739
		codec => netflow
    }
}
output {
	stdout {
		codec => "json_lines"
	}
}

Steps to Reproduce:
Start Logstash
View the logs
Receive the following warnings repeatedly:
[2017-12-04T17:50:08,205][WARN ][logstash.codecs.netflow  ] Unsupported field in template 266 {:t

[2017-12-07 06:51] tim-timmer opened #112 "Netflow sent by Cisco ASA 9.6(1) doesn't contain IN_BYTES and IN_PACKETS"
Hello!

Elasticsearch v6.0.0 + X-Pack
Logstash v6.0.0 + X-Pack
Kibana v6.0.0 + X-Pack
OS: Ubuntu 16.04.1 x86-64

The issue is that Cisco ASA 9.6(1) doesn't send IN_PACKETS and IN_BYTES fields - [ASA Netflow spec](https://www.cisco.com/c/en/us/td/docs/security/asa/special/netflow/guide/asa_netflow.html). For bytes count it sends the following fields:
NF_F_FWD_FLOW_DELTA_BYTES - The delta number of

[2017-12-07 06:53] tim-timmer commented on #111
It seems you'll get this message until netflow source send the templates. With my ASA I had to wait about 10 minutes until this messages gone

[2017-12-11 19:55] jasonkeller commented on #91
@jorritfolmer unfortunately even on 3.9.0 I just suffered two more UDP input worker crashes.

[2017-12-12 07:06] jorritfolmer commented on #91
Can you post the exceptions if you have them?

[2017-12-12 15:32] jasonkeller commented on #91
[code]

[code]

[2017-12-12 17:29] rol-ubiqube opened #113 "Cisco ASA 9.8 netflow v9 - template is read and data parsed successfully, but after some time template not recognized anymore - WARN - can't (yet) decode flowset id..."
Hi,

We are facing a strange issue while trying to integrate cisco asa (9.8) netflow pcap into logstash 5.6.4 with netflow codec 3.7.0.

Template (previously cached) is read successfully by netflow codec when logstash is started, data flows parsed successfully and exported into ES.
But, after a minute or so, template is not recognized anymore, and WARN messages are seen in the logs for all new att

[2017-12-14 14:41] pgastinger opened #114 "Missing Flows until I restart logstash"
I am currently running a rather simple ELK stack for our Juniper IPFIX flows.

- 1x server for Logstash (and Kibana): HP ProLiant DL380 G7, 8GB RAM, 8 CPU E5630, Logstash 6.0.1
- 1x server for Elasticsearch: HP ProLiant DL580 G7, 792GB RAM, 64 CPU X7560, Elasticsearch 6.0.1

Logstash is receiving our IPFIX flows (approx. 1250/s). I uploaded two images, at 15:20 I restarted the Logstash process and

[2017-12-14 16:07] rol-ubiqube commented on #113
Allow me to provide additional information from further tests, that show an interesting conclusion.
Having logstash receiving a few data netflow packets, in log (with trace activated) is possible to see that:
1) when logstash is started recognizes correctly the template (cached previously)
2) after some time, template is not recognized anymore (message error indicated in previous comment)
3) when

[2017-12-14 16:45] rol-ubiqube commented on #112
Hi, as that information is available in Cisco ASA 9.8 and was doubting 9.6 didn't have it, I just did a quick check in your pcap, and yes it is available.
You can see this in flowset id = 0 (template) for template id 263 - fields 18 (initiatorOctets) and 19 (responderOctets).
And it's only necessary to use the correspondent 231 and 232 of netflow codec.
Regards

[2017-12-14 22:46] rol-ubiqube commented on #113
Further troubleshooting showed that issue was related with cache_ttl parameter, and the fact that this is not in minutes as described in documentation (see below) but in smaller unit (seconds I believe).

https://www.elastic.co/guide/en/logstash/5.5/plugins-codecs-netflow.html#plugins-codecs-netflow-cache_ttl
-----------------------------------------------------------------------------------------

[2017-12-14 22:46] #113 closed

[2017-12-17 14:29] jorritfolmer commented on #114
Do you experience any input worker crashes that explain the drop in events?

[2017-12-17 14:31] jorritfolmer commented on #112
Closing this issue, as @rol-ubiqube pointed out the bytes field in the pcap. Thanks for taking a look btw!

[2017-12-17 14:31] #112 closed

[2017-12-17 14:32] jorritfolmer commented on #111
@szhong12 can you post (or mail) a pcap?
It seems there is an unsupported field in template 266 and 292 that causes the template to be ignored.

[2017-12-17 14:34] jorritfolmer commented on #103
Haven't seen a pcap yet. Closing. If I've missed it please include an identifier here that I can use to search my mailbox with :)

[2017-12-17 14:34] #103 closed

[2017-12-18 05:50] szhong12 commented on #111
Thank you for your reply, this is my pcap file.
------------------ 原始邮件 ------------------
发件人: "Jorrit Folmer";<notifications@github.com>;
发送时间: 2017年12月17日(星期天) 晚上10:32
收件人: "logstash-plugins/logstash-codec-netflow"<logstash-codec-netflow@noreply.github.com>;
抄送: "阳光02"<503614084@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [logstash-plugins/logstash-codec-netflow] Can't (yet) decodef

[2017-12-18 09:58] pgastinger commented on #114
No, in my logstash log, i only see following messages after restarting with an increased event rate, which drops down to the original value after an hour:
![image](https://user-images.githubusercontent.com/3997488/34100080-a41a5e48-e3e1-11e7-8a3f-c35da442353d.png)
[code]

[2017-12-18 13:37] pgastinger commented on #114
One remark, I upgraded to version 6.1.0 earlier today, but the behaviour did not change. Except that the event rate is even higher with the new version (might be an performance issue?).

![image](https://user-images.githubusercontent.com/3997488/34108457-672fa456-e400-11e7-8a16-2a202f833b01.png)

There are suspicious log entries (besides the occasional "Invalid netflow packet received/Can't (yet)

[2017-12-18 15:05] pgastinger commented on #114
and another remark:

At 14:58, the inputworker crashed (that's the first log entry with this exception) and the event rate dropped dramatically:

[code]
After restarting the logstash process, the event rate raised back to the previous value:

![image](https://user-images.githubusercontent.com/3997488/34112522-188b67ec-e40d-11e7-82ea-de49677882c6.png)

Btw, I have 8 pipeline.workers and all the oth

[2017-12-25 04:04] Sjaak01 opened #116 "Implement RFC6759 (Was: Fortigate application_id not processed correctly)"
Hi,

I've noticed that on FortiOS 5.6.x the application_id field is not processed correctly.

The output shows something like 20:53068615909376 while the correct output should be something like 15921.

This is the information I received from our reseller with regards to a pcap I sent to them:

Elastiflow, on which the netflow codec is apparently based (?) had the same issue but apparently got fixe

[2017-12-27 17:27] rol-ubiqube opened #117 "NEW Performance processing issue - Cisco ASA 9.8 netflows"
I'm raising this issue, after having read the issue below, and not being even close of reaching the referred performance figures.
https://github.com/logstash-plugins/logstash-codec-netflow/issues/85

Version: logstash 5.6.5 / logstash-codec-netflow 3.8.3
Operation System: CentOS release 6.8 (Final)
Config files:
------------------
netflow.conf (just added metric filter and output to be able to mea

[2017-12-28 18:53] Noebas commented on #111
You need to set your asa to send the template, the template timeout setting to 1 min. the message will go away and logstash starts working after this

![image](https://user-images.githubusercontent.com/15727101/34420237-c81b1dc6-ec08-11e7-918a-21fda5a7dfbc.png)

[2017-12-29 07:11] Noebas commented on #117
I'am seeing poor performance with ASA to but different behavior as described by you.
The input udp is using 100% cpu, always. with 1 working using 1 core, with 4 workers user 4 cores 100%

Not sure why this is taking all cpu and also not clear why dubbeling the cores is not dubbeling the flow processed but there wa was en similar case with Palo Alto in this case https://github.com/logstash-plugins

[2017-12-29 10:31] rol-ubiqube commented on #117
Hi @Noebas
I also get 100% of CPU used if I increase the number of workers, or in some other tests I did with lower number of CPUs (and lower number of workers), but reading #85 and others I believe 16 vCPU will be required anyway for a throughput of 6400 flows/sec (which is the ASA throughput I can see - 400 packets / sec ; 16 flows / packet).
So, with 16vCPU and 8 workers CPU is not saturated as

[2017-12-29 14:41] jasonkeller commented on #91
@jorritfolmer over the course of a bit of time here, I've now had another 3 input workers crash.  Struggle as I might I just can't seem to keep this plugin stabilized.  Am I using too new of a java version?

`OpenJDK Runtime Environment (build 1.8.0_151-b12)`

[2017-12-30 13:14] jorritfolmer commented on #117
In issue #85 I included a benchmark but failed to specify the number of workers used on the 40 CPU dedicated AWS box. It should read:

| vCPU | UDP workers | flows/sec
|-----|---|------
|1 | 1| 2300
|2 | 2| 4300
|4| 4| 6700
|8| 8| 9100
|16| 16| 15000
|32 | 32| 16000

1) You should increase the amount of workers with the amount of vCPUs available
2) You should make sure that these vCPU's are actual

[2017-12-30 13:25] jorritfolmer commented on #116
No, applicationId is not a keyword, but a single field composed of two parts.

The [IANA information elements list](https://www.iana.org/assignments/ipfix/ipfix.xhtml) refers to [RFC6759](https://tools.ietf.org/html/rfc6759) for the decoding of element 95 (applicationId"). Relevant quote:

   is a single field composed of two parts:

      be considered as a specific registry for application assig

[2017-12-30 13:39] jorritfolmer commented on #91
Chances are there are still some concurrency issues left in the module we need to fix.

[2017-12-30 13:43] jorritfolmer commented on #114
Could it be that the Arcsight connector is catching up after a restart?
Apparently it's not only Netflow that goes into through your Logstash to ES.

[2017-12-30 13:54] jorritfolmer commented on #111
Ok fixed in v3.9.1.
Thanks for the pcap!

[2017-12-30 13:54] #111 closed

[2017-12-30 14:22] jorritfolmer opened #118 "Update Netflow v9 and IPFIX Information Elements list in YAML files"
We don't currently support all the [Information Elements currently assigned by IANA](https://www.iana.org/assignments/ipfix/ipfix.xhtml).

An overview can currently be found in issues #83 and #84

TODO:
1. Update netflow.yaml to include all the IE's from the IANA list
2. Update ipfix.uaml to include all the IE's from the IANA list

Volunteers?

[2018-01-02 08:36] pgastinger commented on #114
Ok, strange, I don't have an Arcsight connector running (no idea why this is part of the log-output). My input configuration looks like that:

[code]

At the moment, there are no other incoming logs besides the ipfix-data. With IPFIX, it takes a couple of minutes for logstash until it can decode the data (due to regular template updates).

Do you have a working IPFIX setup? Do you experience a sim

[2018-01-02 09:26] rol-ubiqube commented on #117
Thanks @jorritfolmer for the updated/completed benchmark, but the real numbers I'm getting are very far (less than 10%) from the benchmark you provide.
Fyi, to be sure it was not an oversubscription issue I've even repeated my tests in a physical device and figures I got were identical.
So, I'm really running out of options here and would appreciate hints on what else can be verified / double chec

[2018-01-05 02:28] Sjaak01 commented on #116
So what does that effectively mean with regards to the netflow codec and processing the Fortigate application_id?

If required I can provide a packet capture or requires further information from Fortinet.

[2018-01-05 15:20] rol-ubiqube commented on #117
@jorritfolmer Reading again #85 and specifically comment of https://github.com/logstash-plugins/logstash-codec-netflow/issues/85#issuecomment-320756806, I am now thinking that your benchmark might not be valid as well for Cisco ASA which loads a big number of different flow sets per packet. (12 in the example below, but I'say can even go up to 16 - in my production pcap I get 13-16 flows per packe

[2018-01-10 03:12] manjing opened #119 "[WARN ][logstash.codecs.netflow ] Invalid netflow packet received (End of file reached) [2018-01-10T11:00:18,439][WARN ][logstash.codecs.netflow ] Ignoring Netflow version v210 [WARN ][logstash.codecs.netflow ] Can't (yet) decode flowset id 45841 from observation domain id 0, because no template to decode it with has been received. This message will usually go away after 1 minute."
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:
- Operating System:
- Config File (if you have sensitive info, plea

[2018-01-12 00:07] Sjaak01 commented on #116
Any comment on where the problem might be?

[2018-01-16 10:00] szhong12 opened #120 "Can't (yet) decode flowset id 266 from observation domain id 262144, because no template to decode it with has been received. This message will usually go away after 1 minute."
Version: Logstash 6.0.0/logstash-codec-netflow 3.7.0
Operating System: Ubuntu16.04
Config File:
input {
udp {
port => 4739
codec => netflow
}
}
output {
stdout {
codec => "json_lines"
}
}

Steps to Reproduce:
Start Logstash
View the logs
Receive the following warnings repeatedly:

[2018-01-16T17:56:51,464][WARN ][logstash.codecs.netflow  ] Can't (yet) decode flowset id 266 from observation domain

[2018-01-16 10:56] szhong12 commented on #111
Thank you for your help!
When add a new device ,  I receive the following warnings repeatedly.
Can't (yet) decode flowset id 266 from observation domain id 262144, because no template to decode it with has been received. This message will usually go away after 1 minute.

------------------ 原始邮件 ------------------
发件人: "Jorrit Folmer";<notifications@github.com>;
发送时间: 2017年12月30日(星期六) 晚上9:54
收件人: "

[2018-01-17 16:05] ssmlt commented on #9
Hello, is there any update regarding this issue and any plans to release logstash-input-netflow?
Thanks.

[2018-01-19 07:27] zwirk opened #121 "logstash not working for Huawei Netstream"
Hi, Team

Please, make support of Huawei netstream.

[2018-01-21 11:18] danuuk commented on #117
Hello! I have the similar issue with Cisco ASA flow data. With **workers => 16** (no filtering and output to Null) I can only reach ~1200 flows/sec. I run logstash on dedicated server with 16 cores and during the test almost all of them saturated.

[2018-01-24 13:47] madhurkgp commented on #91
I'm facing the same issue, did you got any solution or workaround for this problem ?

any lead would help.

[2018-01-27 13:34] jorritfolmer commented on #121
Can you provide a pcap with netflow from this device?

[2018-01-27 13:38] jorritfolmer commented on #119
Sorry but you're posting 3 different issues without any further information.
Closing.

[2018-01-27 13:38] #119 closed

[2018-01-27 13:39] jorritfolmer commented on #120
And do the messages go away after 1 minute?
If not, please provide a pcap with the netflow traffic.

[2018-01-27 13:41] jorritfolmer commented on #9
Issue is still there.
Logstash-input-netflow still waiting for my initial PR to be merged.

[2018-01-27 13:57] jorritfolmer commented on #114
It's a weird phenomenon indeed.
However it isn't clear that events are actually missing.
Sure the events per second differ, but this doesn't prove data loss.

With a synthetic stresstest I haven't seen data go missing.
Setup was something like: send 210000 flows, and expect to find 210000 json lines in the output file.
I should note that this test takes a couple of minutes, whereas the symptoms yo

[2018-01-27 15:01] jorritfolmer commented on #117
Performance impact for the concurrency fixes are -20%.
This is from a quick benchmark on my i7 laptop.

Processing Cisco ASR 9000 router flows:

| vCPU | UDP workers | v3.4.0 flows/sec | v3.10.0 flows/sec
|-----|---|------|---
|2 | 2| 3040 | 2470

Processing Cisco ASA firewall flows is 3x slower than Cisco ASR flows:

| vCPU | UDP workers | v3.4.0 flows/sec| v3.10.0 flows/sec
|-----|---|------|---

[2018-01-27 15:10] jorritfolmer commented on #117
I've also commited two new standalone benchmark script in the spec/codec directory:
- `netflow_bench_cisco_asa.py`: sends 210000 Cisco ASA firewall flows
- `netflow_bench_cisco_asr.py`: sends 210000 Cisco ASR 9000 router flows

[2018-01-27 15:24] jorritfolmer commented on #116
I'm not sure there is a problem.

You're expecting application id to be 15921.
However, according to the RFC standard application_id will always be in "n:m" format, like you're seeing in ES.

Please provide a pcap if I'm misunderstanding.

[2018-01-29 02:35] szhong12 commented on #120
Thank you for your reply, this is my pcap file.

------------------ 原始邮件 ------------------
发件人: "Jorrit Folmer";<notifications@github.com>;
发送时间: 2018年1月27日(星期六) 晚上9:39
收件人: "logstash-plugins/logstash-codec-netflow"<logstash-codec-netflow@noreply.github.com>;
抄送: "阳光02"<503614084@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [logstash-plugins/logstash-codec-netflow] Can't (yet) decodeflow

[2018-01-29 06:48] jorritfolmer commented on #120
Where can I find your pcap file?

[2018-01-29 12:06] zwirk commented on #121
Hello

I added files to this post.

[huawei_netstream.pcap.txt](https://github.com/logstash-plugins/logstash-codec-netflow/files/1673435/huawei_netstream.pcap.txt)

[hardware.txt](https://github.com/logstash-plugins/logstash-codec-netflow/files/1673429/hardware.txt)

[logstash-plain.log](https://github.com/logstash-plugins/logstash-codec-netflow/files/1673430/logstash-plain.log)

Thank

[2018-01-29 14:04] rol-ubiqube commented on #117
@jorritfolmer I've tried the "netflow_bench_cisco_asa.py" script, and checking pcap don't think this is representative of real Cisco ASA netflow traffic.
As per my previous comment, what I see on real pcap from Cisco ASA is several flowsets (see details on https://github.com/logstash-plugins/logstash-codec-netflow/issues/117#issuecomment-355580025) and in your python script you have 14 flows withi

[2018-01-29 17:39] jorritfolmer commented on #117
No sorry I need pcaps for that.